{% extends "college/base.html" %} {% block content %}
<style>
    .gallery_page .gallery_sec ul li:last-child img {
        opacity: 1 !important;
    }
</style>
<section style="margin-bottom: 10rem;" class="gallery_page clearfix">
    <div class="container container2">
        <div class="gallery_page_title">
            <h1 style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">A.C.S GROUP OF INSTITUTIONS</h1>
            <p style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
            </p>
            <p style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate non quidem illo fugit unde necessitatibus? Excepturi, illum! Debitis ea sapiente tempora iste! Aut cupiditate illum sint nostrum distinctio et aspernatur.</p>
            <p style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;"></p>
        </div>
        <div class="gallery_sec clearfix">

            <ul>
                <!-- four -->
                <li style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                    <a target="_blank" href="http://www.rrmch.org/">
                        <img src="/static/assets/gp/solidcolor.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" srcset="/static/assets/gp/solidcolor.jpg 384w, /static/assets/gp/solidcolor.jpg 300w" sizes="(max-width: 384px) 100vw, 384px">
                        <div class="gallery_sec_content">
                            <div class="real_icon test">
                                <span>
                    <img src="/static/assets/svg/shield.svg" alt="">
                  </span>
                                <div class="hvr_icon">
                                    <span>
                      <img src="/static/assets/svg/shield2.svg" alt="">
                    </span>
                                </div>
                            </div>
                            <p style="justify-content: center;align-items: center;font-size: 16px;">RajaRajeswari Medical College & Hospital
                            </p>
                        </div>
                        <div class="hov_overlay"></div>
                    </a>
                </li>
                <li style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                    <a target="_blank" href="https://www.rrdch.org/">
                        <img src="/static/assets/gp/blue.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" srcset="/static/assets/gp/blue.jpg 384w, /static/assets/gp/lightblue.jpg 300w" sizes="(max-width: 384px) 100vw, 384px">
                        <div class="gallery_sec_content">
                            <div class="real_icon test">
                                <span>
                    <img src="/static/assets/svg/shield.svg" alt="">
                  </span>
                                <div class="hvr_icon">
                                    <span>
                      <img src="/static/assets/svg/shield2.svg" alt="">
                    </span>
                                </div>
                            </div>
                            <p style="justify-content: center;align-items: center;font-size: 16px;">RajaRajeswari Dental College & Hospital</p>
                        </div>
                        <div class="hov_overlay" style="left: 0px; top: -100%; transition: all 300ms ease 0s; display: block;"></div>
                    </a>
                </li>

                <li style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                    <a target="_blank" href="https://www.rrce.org/">
                        <img src="/static/assets/gp/lightblue.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" srcset="/static/assets/gp/lightblue.jpg 383w, /static/assets/gp/lightblue.jpg 300w" sizes="(max-width: 383px) 100vw, 383px">
                        <div class="gallery_sec_content">
                            <div class="real_icon test">
                                <span>
                    <img src="/static/assets/svg/shield.svg" alt="">
                  </span>
                                <div class="hvr_icon">
                                    <span>
                      <img src="/static/assets/svg/shield2.svg" alt="">
                    </span>
                                </div>
                            </div>
                            <p style="justify-content: center;align-items: center;font-size: 16px;">RajaRajeswari College of Engineering</p>
                        </div>
                        <div class="hov_overlay"></div>
                    </a>
                </li>
                <li style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                    <a target="_blank" href="https://rrcp.edu.in/">
                        <img src="/static/assets/gp/solidcolor.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" srcset="/static/assets/gp/solidcolor.jpg 384w, /static/assets/gp/solidcolor.jpg 300w" sizes="(max-width: 384px) 100vw, 384px">
                        <div class="gallery_sec_content">
                            <div class="real_icon test">
                                <span>
        <img src="/static/assets/svg/shield.svg" alt="">
        </span>
                                <div class="hvr_icon">
                                    <span>
          <img src="/static/assets/svg/shield2.svg" alt="">
        </span>
                                </div>
                            </div>
                            <p style="justify-content: center;align-items: center;font-size: 16px;">RajaRajeswari College of Physiotherapy</p>
                        </div>
                        <div class="hov_overlay"></div>
                    </a>
                </li>
                <!-- eight -->
                <li style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                    <a target="_blank" href="https://college.rrmch.org/course/b-sc-perfusion-technology/">
                        <img src="/static/assets/gp/orange.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" srcset="/static/assets/gp/orange.jpg 384w, /static/assets/gp/orange.jpg 300w" sizes="(max-width: 384px) 100vw, 384px">
                        <div class="gallery_sec_content">
                            <div class="real_icon test">
                                <span>
                    <img src="/static/assets/svg/shield.svg" alt="">
                  </span>
                                <div class="hvr_icon">
                                    <span>
                      <img src="/static/assets/svg/shield2.svg" alt="">
                    </span>
                                </div>
                            </div>
                            <p style="justify-content: center;align-items: center;font-size: 16px;">RajaRajeswari Institute of Allied Health Sciences</p>
                        </div>
                        <div class="hov_overlay"></div>
                    </a>
                </li>
                <li style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1; justify-content: center;align-items: center;font-size: 15px;">
                    <a target="_blank" href="https://www.rrcn.org/">
                        <img src="/static/assets/gp/solidcolor.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" srcset="/static/assets/gp/solidcolor.jpg 384w, /static/assets/gp/solidcolor.jpg 300w" sizes="(max-width: 384px) 100vw, 384px">
                        <div class="gallery_sec_content">
                            <div class="real_icon test">
                                <span>
                  <img src="/static/assets/svg/shield.svg" alt="">
                </span>
                                <div class="hvr_icon">
                                    <span>
                    <img src="/static/assets/svg/shield2.svg" alt="">
                  </span>
                                </div>
                            </div>
                            <p style="justify-content: center;align-items: center;font-size: 16px;">RajaRajeswari College of Nursing/School of Nursing</p>
                        </div>
                        <div class="hov_overlay"></div>
                    </a>
                </li>
                <li style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                    <a target="_blank" href="http://acsmathss.com/">
                        <img src="/static/assets/gp/solidcolor.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" srcset="/static/assets/gp/solidcolor.jpg 384w, /static/assets/gp/solidcolor.jpg 300w" sizes="(max-width: 384px) 100vw, 384px">
                        <div class="gallery_sec_content">
                            <div class="real_icon test">
                                <span>
                    <img src="/static/assets/svg/shield.svg" alt="">
                  </span>
                                <div class="hvr_icon">
                                    <span>
                      <img src="/static/assets/svg/shield2.svg" alt="">
                    </span>
                                </div>
                            </div>
                            <p style="justify-content: center;align-items: center;font-size: 16px;">A.C.S Matriculation Higher Secondary School</p>
                        </div>
                        <div class="hov_overlay" style="left: 0px; top: -100%; display: block; transition: all 300ms ease 0s;"></div>
                    </a>
                </li>
                <li style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;justify-content: center;align-items: center;font-size: 15px;">
                    <a target="_blank" href="https://www.acsce.edu.in/">
                        <img src="/static/assets/gp/orange.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" srcset="/static/assets/gp/orange.jpg 384w, /static/assets/gp/orange.jpg 300w" sizes="(max-width: 384px) 100vw, 384px">
                        <div class="gallery_sec_content">
                            <div class="real_icon test">
                                <span>
                <img src="/static/assets/svg/shield.svg" alt="">
              </span>
                                <div class="hvr_icon">
                                    <span>
                  <img src="/static/assets/svg/shield2.svg" alt="">
                </span>
                                </div>
                            </div>
                            <p style="justify-content: center;align-items: center;font-size: 16px;">A.C.S College Of Engineering</p>
                        </div>
                        <div class="hov_overlay"></div>
                    </a>
                </li>
                <!-- twelve -->
                <li style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                    <a target="_blank" href="https://www.sbcecarni.org/">
                        <img src="/static/assets/gp/solidcolor.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" srcset="/static/assets/gp/solidcolor.jpg 384w, /static/assets/gp/solidcolor.jpg 300w" sizes="(max-width: 384px) 100vw, 384px">
                        <div class="gallery_sec_content">
                            <div class="real_icon test">
                                <span>
                    <img src="/static/assets/svg/shield.svg" alt="">
                  </span>
                                <div class="hvr_icon">
                                    <span>
                      <img src="/static/assets/svg/shield2.svg" alt="">
                    </span>
                                </div>
                            </div>
                            <p style="justify-content: center;align-items: center;font-size: 16px;">Sri Balaji Chockalingam Engineering College
                            </p>
                        </div>
                        <div class="hov_overlay"></div>
                    </a>
                </li>
                <li style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                    <a target="_blank" href="#">
                        <img src="/static/assets/gp/lightblue.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" srcset="/static/assets/gp/lightblue.jpg 384w, /static/assets/gp/lightblue.jpg 300w" sizes="(max-width: 384px) 100vw, 384px">
                        <div class="gallery_sec_content">
                            <div class="real_icon test">
                                <span>
                    <img src="/static/assets/svg/shield.svg" alt="">
                  </span>
                                <div class="hvr_icon">
                                    <span>
                      <img src="/static/assets/svg/shield2.svg" alt="">
                    </span>
                                </div>
                            </div>
                            <p style="justify-content: center;align-items: center;font-size: 16px;">Sri Balaji Teacher training Institute</p>
                        </div>
                        <div class="hov_overlay" style="left: 0px; top: -100%; transition: all 300ms ease 0s; display: block;"></div>
                    </a>
                </li>

                <li style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                    <a target="_blank" href="https://www.sbce.in/">
                        <img src="/static/assets/gp/blue.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" srcset="/static/assets/gp/blue.jpg 383w, /static/assets/gp/blue.jpg 300w" sizes="(max-width: 383px) 100vw, 383px">
                        <div class="gallery_sec_content">
                            <div class="real_icon test">
                                <span>
                    <img src="/static/assets/svg/shield.svg" alt="">
                  </span>
                                <div class="hvr_icon">
                                    <span>
                      <img src="/static/assets/svg/shield2.svg" alt="">
                    </span>
                                </div>
                            </div>
                            <p style="justify-content: center;align-items: center;font-size: 16px;">Sri Balaji College of Education</p>
                        </div>
                        <div class="hov_overlay"></div>
                    </a>
                </li>
                <li style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                    <a target="_blank" href="#">
                        <img src="/static/assets/gp/solidcolor.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" srcset="/static/assets/gp/solidcolor.jpg 384w, /static/assets/gp/solidcolor.jpg 300w" sizes="(max-width: 384px) 100vw, 384px">
                        <div class="gallery_sec_content">
                            <div class="real_icon test">
                                <span>
        <img src="/static/assets/svg/shield.svg" alt="">
        </span>
                                <div class="hvr_icon">
                                    <span>
          <img src="/static/assets/svg/shield2.svg" alt="">
        </span>
                                </div>
                            </div>
                            <p style="justify-content: center;align-items: center;font-size: 16px;">Sri Balaji Chockalingam Arts College</p>
                        </div>
                        <div class="hov_overlay"></div>
                    </a>
                </li>
                <!-- sixteen -->
                <li style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                    <a target="_blank" href="#">
                        <img src="/static/assets/gp/orange.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" srcset="/static/assets/gp/orange.jpg 384w, /static/assets/gp/orange.jpg 300w" sizes="(max-width: 384px) 100vw, 384px">
                        <div class="gallery_sec_content">
                            <div class="real_icon test">
                                <span>
                    <img src="/static/assets/svg/shield.svg" alt="">
                  </span>
                                <div class="hvr_icon">
                                    <span>
                      <img src="/static/assets/svg/shield2.svg" alt="">
                    </span>
                                </div>
                            </div>
                            <p style="justify-content: center;align-items: center;font-size: 16px;">Thai Moogambigai Polytechnic College</p>
                        </div>
                        <div class="hov_overlay"></div>
                    </a>
                </li>
                <li style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                    <a target="_blank" href="https://www.drmgrpoly.com/">
                        <img src="/static/assets/gp/solidcolor.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" srcset="/static/assets/gp/solidcolor.jpg 384w, /static/assets/gp/solidcolor.jpg 300w" sizes="(max-width: 384px) 100vw, 384px">
                        <div class="gallery_sec_content">
                            <div class="real_icon test">
                                <span>
                  <img src="/static/assets/svg/shield.svg" alt="">
                </span>
                                <div class="hvr_icon">
                                    <span>
                    <img src="/static/assets/svg/shield2.svg" alt="">
                  </span>
                                </div>
                            </div>
                            <p style="justify-content: center;align-items: center;font-size: 16px;">Dr.M.G.R. Polytechnic College </p>
                        </div>
                        <div class="hov_overlay"></div>
                    </a>
                </li>
                <li style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                    <a target="_blank" href="https://www.drmgrdu.ac.in/">
                        <img src="/static/assets/gp/solidcolor.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" srcset="/static/assets/gp/solidcolor.jpg 384w, /static/assets/gp/solidcolor.jpg 300w" sizes="(max-width: 384px) 100vw, 384px">
                        <div class="gallery_sec_content">
                            <div class="real_icon test">
                                <span>
                    <img src="/static/assets/svg/shield.svg" alt="">
                  </span>
                                <div class="hvr_icon">
                                    <span>
                      <img src="/static/assets/svg/shield2.svg" alt="">
                    </span>
                                </div>
                            </div>
                            <p style="justify-content: center;align-items: center;font-size: 16px;">Dr.M.G.R.Educational & Research Institute University</p>
                        </div>
                        <div class="hov_overlay" style="left: 0px; top: -100%; display: block; transition: all 300ms ease 0s;"></div>
                    </a>
                </li>

                <li style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                    <a target="_blank" href="https://drmgrihmindia.com/">
                        <img src="/static/assets/gp/orange.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" srcset="/static/assets/gp/orange.jpg 384w, /static/assets/gp/orange.jpg 300w" sizes="(max-width: 384px) 100vw, 384px">
                        <div class="gallery_sec_content">
                            <div class="real_icon test">
                                <span>
                <img src="/static/assets/svg/shield.svg" alt="">
              </span>
                                <div class="hvr_icon">
                                    <span>
                  <img src="/static/assets/svg/shield2.svg" alt="">
                </span>
                                </div>
                            </div>
                            <p style="justify-content: center;align-items: center;font-size: 16px;">Dr.M.G.R.International Institute Of Hotel Management & Catering </p>
                        </div>
                        <div class="hov_overlay"></div>
                    </a>
                </li>



            </ul>

        </div>
    </div>


</section>
{% endblock content %}