{% extends "college/base.html" %} {% block content %}

<section class="inner res_intro">
    <style>
        .btn_web {
            overflow: hidden;
            min-width: 175px;
            height: 54px;
            border: 1px solid #bd943c;
            font-family: 'Eurostile', sans-serif;
            font-size: 14px;
            line-height: 1;
            letter-spacing: 0.05em;
            color: #002e4b;
            font-weight: 600;
            background: #ffffff;
            padding: 0 15px;
            display: inline-block;
            text-align: center;
            line-height: 52px;
            position: relative;
            z-index: 0;
            text-indent: 0;
            -webkit-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
            -moz-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
            -o-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
            -ms-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
        
        .btn_web:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: -100%;
            transform: translate3d(0, 0, 0);
            -webkit-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            background: #bd943c;
            z-index: -1;
            -webkit-transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
            -moz-transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
            -o-transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
            -ms-transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
            transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
        }
        
        .btn_web:hover {
            color: #ffffff;
        }
        
        .btn_web:hover:before {
            transform: translate3d(100%, 0, 0);
            -webkit-transform: translate3d(100%, 0, 0);
            -ms-transform: translate3d(100%, 0, 0);
            -moz-transform: translate3d(100%, 0, 0);
            -o-transform: translate3d(100%, 0, 0);
        }
    </style>
    <div class="container">
        <h1 class="title_line">Facilities</h1>
    </div>
</section>
<section class="nopadding res_course-wrap">

    {% for fac in f1 %}

    <div class="course-ug clearfix">
        <div class="container">
            <div class="img-contain col-md-6 col-xs-5 nopadding" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                <img src="{{fac.image.url}}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" sizes="(max-width: 961px) 100vw, 961px"> </div>
            <div class="text-contain col-sm-6" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                <div>
                    <h2>{{fac.get_Name_display}}</h2>
                    <p>{{fac.overview}}</p>
                    <a href="{% url 'college:cf_central_lab' %}" class="btn_web">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %} {% for fac in f2 %}
    <div class="course-pg clearfix">
        <div class="container">
            <div class="img-contain col-md-6 col-xs-5 nopadding" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                <img src="{{fac.image.url}}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" sizes="(max-width: 961px) 100vw, 961px"> </div>
            <div class="text-contain col-sm-6" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                <div>
                    <h2>{{fac.get_Name_display}}</h2>
                    <p>{{fac.overview}}</p>
                    <a href="{% url 'college:cf_central_lab' %}" class="btn_web">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %} {% for fac in f3 %}

    <div class="course-ug clearfix">
        <div class="container">
            <div class="img-contain col-md-6 col-xs-5 nopadding" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                <img src="{{fac.image.url}}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" sizes="(max-width: 961px) 100vw, 961px"> </div>
            <div class="text-contain col-sm-6" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                <div>
                    <h2>{{fac.get_Name_display}}</h2>
                    <p>{{fac.overview}}</p>
                    <a href="{% url 'college:cf_central_lab' %}" class="btn_web">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %} {% for fac in f4 %}
    <div class="course-pg clearfix">
        <div class="container">
            <div class="img-contain col-md-6 col-xs-5 nopadding" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                <img src="{{fac.image.url}}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" sizes="(max-width: 961px) 100vw, 961px"> </div>
            <div class="text-contain col-sm-6" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                <div>
                    <h2>{{fac.get_Name_display}}</h2>
                    <p>{{fac.overview}}</p>
                    <a href="{% url 'college:cf_central_lab' %}" class="btn_web">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %} {% for fac in f5 %}

    <div class="course-ug clearfix">
        <div class="container">
            <div class="img-contain col-md-6 col-xs-5 nopadding" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                <img src="{{fac.image.url}}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" sizes="(max-width: 961px) 100vw, 961px"> </div>
            <div class="text-contain col-sm-6" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                <div>
                    <h2>{{fac.get_Name_display}}</h2>
                    <p>{{fac.overview}}</p>
                    <a href="{% url 'college:cf_central_lab' %}" class="btn_web">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %} {% for fac in f6 %}
    <div class="course-pg clearfix">
        <div class="container">
            <div class="img-contain col-md-6 col-xs-5 nopadding" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                <img src="{{fac.image.url}}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" sizes="(max-width: 961px) 100vw, 961px"> </div>
            <div class="text-contain col-sm-6" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                <div>
                    <h2>{{fac.get_Name_display}}</h2>
                    <p>{{fac.overview}}</p>
                    <a href="{% url 'college:cf_central_lab' %}" class="btn_web">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %} {% for fac in f7 %}

    <div class="course-ug clearfix">
        <div class="container">
            <div class="img-contain col-md-6 col-xs-5 nopadding" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                <img src="{{fac.image.url}}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" sizes="(max-width: 961px) 100vw, 961px"> </div>
            <div class="text-contain col-sm-6" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                <div>
                    <h2>{{fac.get_Name_display}}</h2>
                    <p>{{fac.overview}}</p>
                    <a href="{% url 'college:cf_central_lab' %}" class="btn_web">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %} {% for fac in f8 %}
    <div class="course-pg clearfix">
        <div class="container">
            <div class="img-contain col-md-6 col-xs-5 nopadding" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                <img src="{{fac.image.url}}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" sizes="(max-width: 961px) 100vw, 961px"> </div>
            <div class="text-contain col-sm-6" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                <div>
                    <h2>{{fac.get_Name_display}}</h2>
                    <p>{{fac.overview}}</p>
                    <a href="{% url 'college:cf_central_lab' %}" class="btn_web">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %} {% for fac in f9 %}

    <div class="course-ug clearfix">
        <div class="container">
            <div class="img-contain col-md-6 col-xs-5 nopadding" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                <img src="{{fac.image.url}}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" sizes="(max-width: 961px) 100vw, 961px"> </div>
            <div class="text-contain col-sm-6" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                <div>
                    <h2>{{fac.get_Name_display}}</h2>
                    <p>{{fac.overview}}</p>
                    <a href="{% url 'college:cf_central_lab' %}" class="btn_web">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    </div>
    </div>
</section>


{% endblock content %}