{% extends "college/base.html" %} {% block content %}
<style>
    h5 {
        font-size: 20px;
        font-family: 'Eurostile', sans-serif;
        font-weight: 600;
        color: #000000;
        letter-spacing: 0.005em;
        margin-bottom: 15px;
        position: relative;
    }
    
    strong {
        font-size: 20px;
    }
    
    ol li {
        list-style-type: decimal;
        margin-bottom: 10px;
        line-height: 25px;
    }
    
    strong {
        font-weight: 800;
    }
    
    .firstol {
        list-style-type: decimal;
    }
    
    .firstol li {
        margin-bottom: 12px;
        margin-left: 60px;
        line-height: 20px;
    }
    
    .firstul {
        list-style-type: disc;
        margin-top: 5px;
    }
    
    .firstul li {
        margin-bottom: 12px;
        margin-left: 60px;
        line-height: 25px;
    }
    
    .bold {
        font-weight: 800 !important;
    }
    
    .secondul {
        list-style-type: circle;
        margin-top: 5px;
    }
    
    .secondul li {
        margin-bottom: 12px;
        margin-left: 60px;
        line-height: 20px;
    }
    
    .table-responsive {
        min-height: .01%;
        overflow-x: auto
    }
    
    @media screen and (max-width:767px) {
        .table-responsive {
            width: 100%;
            margin-bottom: 15px;
            overflow-y: hidden;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            border: 1px solid #ddd
        }
    }
</style>
<div class="resource_inner">
    <section class="hostl_facility">
        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-lg-12 lft_aln">



                    <p align="center"><b><h4 style="text-decoration: underline; font-size: 18px; font-weight: 700; margin-bottom: 10px;">DETAILS OF AWARDS AND ACHIEVEMENT RECEIVED BY THE FACULTY</h4></b></p>
                    <ol>
                        <li>Brig (DR) KK Dutta Gupta awarded <b>Vishisht Seva Medal</b> by <b>President of India</b> on Republic day eve 2006.</li>
                        <li>Dr. R. Ponnudurai &#8211; <b>Dr. B.C. Roy National award</b> 2007.</li>
                        <li>Dr. T. Susila and Dr. Daisy Dharmaraj &quot;Hillman Award&quot; on 2- 4<sup>th</sup> Nov 2014 &#8220;Feasibility and scope of contact tracing for tuberculosis through public-private partnership in resource constrained, high TB
                            burden settings&quot;. The poster presentation in 21<sup>st</sup> Canadian Conference on International Health, Nov &#8211; 3<sup>rd</sup> 2014, Ottawa, Canada, Westin Hote.</li>
                        <li>Dr. S.A. Sridevi, Professor of Pharmacology &#8211; UNIVERSITY Chairman Award for Research.</li>
                        <li>Dr. Christina, Professor of Community Medicine &#8211; UNIVERSITY President Award for Research.</li>
                        <li>Dr.Pragna, B.Dolia, M.D., Life time Achievement Award. Best teacher Award and Professor Emeritus by Tamilnadu Dr. MGR Medical university, Guindy, Chennai.Fellow Ambi by Association of Medical Biochemistry of India</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>




</div>

{% endblock content %}