{% extends "college/base.html" %} {% block content %}
<style>
    h5 {
        font-size: 20px;
        font-family: 'Eurostile', sans-serif;
        font-weight: 600;
        color: #000000;
        letter-spacing: 0.005em;
        margin-bottom: 15px;
        position: relative;
    }
    
    strong {
        font-size: 20px;
    }
    
    ol li {
        list-style-type: decimal;
        margin-bottom: 10px;
        line-height: 25px;
    }
    
    strong {
        font-weight: 800;
    }
    
    .firstol {
        list-style-type: decimal;
    }
    
    .firstol li {
        margin-bottom: 12px;
        margin-left: 60px;
        line-height: 20px;
    }
    
    .firstul {
        list-style-type: disc;
        margin-top: 5px;
    }
    
    .firstul li {
        margin-bottom: 12px;
        margin-left: 60px;
        line-height: 25px;
    }
    
    .bold {
        font-weight: 800 !important;
    }
    
    .secondul {
        list-style-type: circle;
        margin-top: 5px;
    }
    
    .secondul li {
        margin-bottom: 12px;
        margin-left: 60px;
        line-height: 20px;
    }
    
    .table-responsive {
        min-height: .01%;
        overflow-x: auto
    }
    
    @media screen and (max-width:767px) {
        .table-responsive {
            width: 100%;
            margin-bottom: 15px;
            overflow-y: hidden;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            border: 1px solid #ddd
        }
    }
</style>
<div class="resource_inner">
    <section class="hostl_facility">
        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-lg-12 lft_aln">
                    <p align="center"><strong><u>CONFERENCE ATTENDED 2009</u></strong></p>
                    <ol>
                        <li>Dr. T.V. Govindan- &quot;International Conference of Laparoscopic Surgery on Upper GI&quot; 28th &amp; 29th March 2009. </li>
                    </ol>
                    <p align="center"><strong><u>CONFERENCE</u></strong><strong><u> </u></strong><strong><u>ATTENDED</u></strong><strong><u>  </u></strong><strong><u>2011</u></strong><strong><u> </u></strong></p>
                    <ol>
                        <li>Dr. R. Ponnudurai,&quot;Annual National Conference of India psychiatric society&quot; held at Delhi-Chaired the &#8212;&#8212;&#8212;&#8212; Award session. 16th -19th Jan 2011.</li>
                        <li>Dr. Priya Talageri, &quot;A study of efficacy of various topical modalities in the treatment of localized vitiligo, in Vitilicon 2011. On 23rd Apr 2011.</li>
                        <li>Dr. R. Ponnudurai,&quot;Annual National Conference of India psychiatric society&quot; -Tamil Nadu Chapter held at Kodaikanal. Chaired a session. 9th -10th July 2011.</li>
                        <li>Ponnudurai, R. chaired session on &quot;Sleep Disorder&quot;, National Mid Term CME at Ranchi, 3-4th September 2011.</li>
                        <li>Dr. R. Ponnudurai,&quot;Annual National Conference of India psychiatric society&quot; -South Zone Branch held at Visakkapatnam-Chaired a session. 14th -16th Oct 2011.</li>
                        <li>Ponnudurai, R. Participated &quot;Annual conference of National Academy of Medical Sciences held at Bhuvaneswar.</li>
                        <li>Dr. P. Rathinasamy, 63rd Annual Conference of the Association of Otolaryngologists of India, 6 &#8211; 9 Jan, 2011.</li>
                        <li>Dr. R. Raja Rajeswari, 63rd Annual Conference of the Association of Otolaryngologists of India, 6 &#8211; 9 Jan, 2011.</li>
                    </ol>
                    <p align="center"><strong><u>CONFERENCE ATTENDED  2012</u></strong></p>
                    <ol>
                        <li>Dr. V. Kalpana Devi, &quot;Species Distribution &amp; Antifungal Susceptibility Pattern Of Oral Candidiasis In HIV Patients In Correlation With CD4 Count&quot; in International Science Symposium on HIV &amp; infectious disease
                            on January 20-22 and published in BMC Infect Dis. 12 (suppl.1):p19, 2012.</li>
                        <li>Dr. T.V. Govindan, &quot;International advanced Diabetes Workshop for Physicians&quot;, conducted 10th to 12th August 2012.</li>
                        <li>Dr. T.V. Govindan, &quot;2nd Annual Conference of Clinical Infectious Disease Society&quot; &#8211; 24th to 26th August 2012.</li>
                        <li>Dr. Rajkanna, The Influence of Preoperative Deformity on Valgus Correction Angle: An Analysis of 503 Total Knee Arthroplasties. (J. Arthroplasty. 2012 Jun 5).</li>
                        <li>Dr. R. Ponnudurai,&quot;Annual National Conference of India psychiatric society&quot; held at Cochin-Chaired the Award session. 19th -22nd Jan 2012.</li>
                        <li>Dr. R. Ponnudurai,&quot;Annual National Conference of India psychiatric society&quot; Tamil Nadu-chapter held at Tanjore. Chaired session. 21st -22nd July 2012.</li>
                        <li>Dr. R. Ponnudurai, &quot;Annual National Conference of India psychiatric society&quot; South Zone Branch held at Madurai- Chaired a session. 12th -14th Oct 2012.</li>
                        <li>Dr. S.A. Sridevi, Advanced Pharmacovigilance Workshop, at JIPMER, on 29th Sep 2012.</li>
                    </ol>
                    <p align="center"><strong><u>CONFERENCE ATTENDED  2013</u></strong></p>
                    <p>&nbsp;</p>
                    <ol>
                        <li>R. Ponnudurai. </li>
                        <li>9-12 Jan 13 &#8211; Annual National Conference of Indian Psychiatric Society held at Bangalore.</li>
                        <li>29-30 June 13 &#8211; Annual Conference of Tamil Nadu Psychiatric Society held at Pondicherry.</li>
                        <li>18-30 Oct 13 &#8211; Annual Conference of South Zone Psychiatric Society held at Kochi</li>
                        <li>H. Kalavathy Victor &#8211; Zonal workshop Revised National Tuberculosis programme 5-6 Sep 13 at PIMS Pondicherry.</li>
                        <li>Daisy Dharmaraj &#8211; Zonal workshop Revised National Tuberculosis Programme 5-6 Sep 13 at PIMS Pondicherry.</li>
                        <li>R. Dhananjayan &#8211; 40th Annual Meeting of RSSDI (Research Society for the Study of Diabetes in India) held at Chennai during 26-28 Sep 2012.</li>
                        <li>R. Dhananjayan &#8211; National Seminar on Recent Trends in Medical Biotechnology organized by the Department of Biotechnology, Dr. MGR Educational and Research Institute University at Chennai on 21.07.2012.</li>
                        <li>S.A. Sridevi &#8211; Workshop on Medical Education Technique held at Zonal Recognized Centre at Chennai during 18-20th July 2012, MET Workshop.</li>
                        <li>M. Sasirekha &#8211; Workshop on Medical Education Technique held at Zonal Recognized Centre at Chennai during Oct 31-2nd Nov 2012, MET Workshop.</li>
                        <li>M. Ganesh &#8211; Workshop on Medical Education Technique held at Zonal Recognized Centre at Chennai during 29-31st Oct 2013, MET Workshop.</li>
                        <li>Sathish Kumar &#8211; Workshop on Medical Education Technique held at Zonal Recognized Centre at Chennai during 29-31st Oct 2013, MET Workshop.</li>
                        <li>Mubeen Taj &#8211; Workshop on Medical Education Technique held at Zonal Recognized Centre at Chennai during 29-31st Oct 2013, MET Workshop.</li>
                        <li>M. Sasirekha &#8211; Annual Conference of Anatomists of Tamil Nadu on 5th Oct 2013 at SRM Medical College Hospital &amp; Research Centre.</li>
                        <li>Rebecca Pushparani &#8211; Annual Conference of Anatomists of Tamil Nadu on 5th Oct 2013 at SRM Medical College Hospital &amp; Research Centre.</li>
                        <li>Lavanya Prathap &#8211; Annual Conference of Anatomists of Tamil Nadu on 5th Oct 2013 at SRM Medical College Hospital &amp; Research Centre.</li>
                        <li>Shanthi Santosh Kumari &#8211; Annual Conference of Anatomists of Tamil Nadu on 5th Oct 2013 at SRM Medical College Hospital &amp; Research Centre.</li>
                        <li>P. Vaijayanthi Mala &#8211; Annual Conference of Anatomists of Tamil Nadu on 5th Oct 2013 at SRM Medical College Hospital &amp; Research Centre.</li>
                        <li>M. Sasirekha &#8211; National Conference of Society of Clinical Anatomists held at salem on 25th May 2013.</li>
                        <li>B. Suba Rajinikanth &#8211; Annual Sate Pediatric Conference held at Chennai Trade Centre on 23 &#8211; 25th Aug 2013.</li>
                        <li>Lavanya &#8211; Annual Conference of Association of Cutaneous Surgery held at Benglore on 26 &#8211; 30th Apr 2013.</li>
                        <li>P. Rathnasamy &#8211; Annual Conference of The Association of Otolaryngologists of India held at Pune on 3-6th Jan &#8211; 2013.</li>
                        <li>Ameen &#8211; SRM RAD MEET 2013 held at SRM Medical College Hospital &amp; Research Centre on 13th Nov 2013.</li>
                        <li>K. Balachandran &#8211; Role of Tissue Adhesives in Otorhinolaryngology &#8211; Head &amp; Neck Surgery held at Govt. Stanly Medical College &amp; Hospital, at 22 Nov 2013.</li>
                        <li>J. Leila Gracelyn &#8211; Gynact Conclave 2013 held at The leela Palace Chennai , on 16th Nov 2013.</li>
                        <li>Raj Kanna &#8211; Recent Advances in Knee Surgery held at Agartala, Tripura on 23-24th Aug &#8211; 2013.</li>
                        <li>Ulagaratchagan &#8211; Adore Advances in Diabetes, Obesity Conference held at Le Meridien, Bangalore on 26-27th Jan 2013.</li>
                        <li>R. Mohammed Shakir &#8211; Annual Conference of Association of Physicians of India held at Coimbatore on 31st Jan &#8211; 3rd Feb 2013.</li>
                        <li>J. Leila Gracelyn &#8211; National Symposium on Fertility &amp; High Risk Pregnancy held at Tamil Nadu Dr. M.G.R. Medical University, Chennai on 12th July 2013.</li>
                        <li>Dr. T. Susila, Applied time series analysis in Health &#8211; Christian Medical College, Vellore from Dec18-20, 2013.</li>
                        <li>Dr. T. Susila, Short course on sample size calculation at Christian Medical College, Vellore from Dec 16-17, 2013.</li>
                        <li>Dr. C.K. Parameshwari, CME on Secondary Glu00000coma at Madras Medical College on 23.11.2013.</li>
                        <li>Dr. Rajkanna, Visitaion &#8211; 2013, at Kasturibai Medical College, Manipal, on 28 to 31st Dec 2013.</li>
                        <li>Dr. M. Ganesh, Level I Basic Course workshop on Medical Education Technologies conducted by Medical Education unit at Sri Ramachandra medical College &amp; Research Institute, Regional Centre, Porur, Chennai from 29.10.2013 to
                            31.10.2013.
                        </li>
                        <li>Dr. Mubeen Taj, Level I Basic Course workshop on Medical Education Technologies conducted by Medical Education unit at Sri Ramachandra medical College &amp; Research Institute, Regional Centre, Porur, Chennai from 29.10.2013 to
                            31.10.2013.
                        </li>
                        <li>Dr. S. Satiesh, Level I Basic Course workshop on Medical Education Technologies conducted by Medical Education unit at Sri Ramachandra medical College &amp; Research Institute, Regional Centre, Porur, Chennai from 29.10.2013 to
                            31.10.2013.
                        </li>
                        <li>Dr. M. Sasirekha-36th Annual conference of Anatomists of TamilNadu, organized by Department of Anatomy, SRM medical college and RC, SRM University, Kattankulathur, Theme- &quot;Stem Cell and its Clinical Applications&quot;, on
                            5th and 6th October2013.</li>
                        <li>Dr. P. Rebecca Puspharani-36th Annual conference of Anatomists of TamilNadu, organized by Department of Anatomy, SRM medical college and RC, SRM University, Kattankulathur, Theme- &quot;Stem Cell and its Clinical Applications&quot;,
                            on 5th and 6th October2013.</li>
                        <li>Mrs. Lavanya Prathap-36th Annual conference of Anatomists of TamilNadu, organized by Department of Anatomy, SRM medical college and RC, SRM University, Kattankulathur, Theme- &quot;Stem Cell and its Clinical Applications&quot;,
                            on 5th and 6th October2013.</li>
                        <li>Mrs. Lavanya Prathap- in STRIDE 2013, The International conference organized by Saveeta college of Physiotheraphy, Saveetha University , Chennai, October 18th &amp; 19th 2013.</li>
                        <li>Mrs. Lavanya Prathap &quot;SYNCON 2013&quot;, a National Symposium, organized by department of Physical Medicine and Cardio Pulmonary Rehabilitation, The MADRAS Medical Mission, Chennai. &#8211; December 21st 2013.</li>
                        <li>Ms. Shanthi Santhosh Kumari- 36th Annual conference of Anatomists of TamilNadu, organized by Department of Anatomy, SRM medical college and RC, SRM University, Kattankulathur. Theme- &quot;Stem Cell and its Clinical Applications&quot;,
                            on 5th and 6th October2013.</li>
                        <li>Mrs. P. Vaijayanthimala-36th Annual conference of Anatomists of TamilNadu, organized by Department of Anatomy, SRM medical college and RC, SRM University, Kattankulathur , Theme- &quot;Stem Cell and its Clinical Applications&quot;,
                            on 5th and 6th October2013.</li>
                        <li>Ms. K. Ramya, 59th Annual National Conference of APPICON 2013 &quot;Delicates of Research in Physiology &amp; Pharmacology Reminders to remember &amp; focus&quot; held from 28th to 30th November 2013 at NIMHANS, Bengaluru.</li>
                        <li>Ms. K. Ramya, Emerging trends in Neurophysiology: From cell to system -26th November 2013 at NIMHANS, Bengaluru..</li>
                        <li>Ms. K. Ramya, Evaluation of aerospace stresses using simulators -27th November 2013 at Institute of Aerospace Medicine (IAM), IAF Bengaluru..</li>
                        <li>Ms. K. Ramya, A Comparison of respiratory functions of people living in urban, rural &amp; semi-urban areas of selected districts of Tamil Nadu .Presented in 59th National Conference of APPICON 2013 NIMHANS, Bengaluru.</li>
                        <li>Mrs. N. Bhagyasree, 59th Annual National Conference of APPICON 2013 &quot;Delicates of Research in Physiology &amp; Pharmacology Reminders to remember &amp; focus&quot; held from 28th to 30th November 2013 at NIMHANS, Bengaluru.</li>
                        <li>Mrs. Bhagyasree, &quot;Comprehensive multiparametric evaluation of autonomic functions&quot; -26th November 2013 at NIMHANS, Bengaluru. </li>
                        <li>Mrs. Bhagyasree, Evaluation of aerospace stresses using simulators -27th November 2013 at Institute of Aerospace Medicine (IAM), IAF Bengaluru.</li>
                        <li>Mrs. Bhagyasree, Influence of BMI on cardiac autonomic activity in different phases of menstrual cycle in older adults. Presented in 59th National Conference of APPICON 2013 NIMHANS, Bengaluru..</li>
                        <li>Dr. B.S. Jayalakshmi, 68th Annual Conference of the Association of Physicians of India, APICON, at Coimbatore, on 31st Jan to 3rd Feb 2013.</li>
                        <li>Dr. B.S. Jayalakshmi, XIth Annual Conference of Indian Academy of Geritrics, GERICON-2013, at Chennai, on 13th December 2013.</li>
                        <li>Dr. B.S. Jayalakshmi, XIth Annual Conference of Indian Academy of Geritrics, GERICON-2013, at Chennai, on 14th &amp; 15th December 2013.</li>
                        <li>Dr. P. Mahendranath, &quot;Recebt Trends in Haematopathology&quot; at Sri Ramachandra University on 10th Jan 2013.</li>
                        <li>Dr. V.S. Veena Paul, &quot;CME on Transfusion Medicine&quot; at Saveetha Medical College &amp; Hospital, Chennai, on 4th Dec 2013.</li>
                        <li>Dr. P. Mahendranath, &quot;CME on Transfusion Medicine&quot; at Saveetha Medical College &amp; Hospital, Chennai, on 4th Dec 2013.</li>
                        <li>Dr. Mythili Paul, &quot;CME on Transfusion Medicine&quot; at Saveetha Medical College &amp; Hospital, Chennai, on 4th Dec 2013.</li>
                    </ol>
                    <p>&nbsp;</p>
                    <p align="center"><strong><u>CONFERENCE ATTENDED 2014</u></strong></p>
                    <ol>
                        <li>Dr. V. Kalpanadevi, IInd International Science Symposium on HIV &amp; Infections Diseases &#8211; HIV Science 2014.</li>
                        <li> Dr. S. Usha, IInd International Science Symposium on HIV &amp; Infections Diseases &#8211; HIV Science 2014.</li>
                        <li>Dr. Ponnudurai Professor Psychiatry &#8211; Attended annual national Conference of Indian Psychatric Society held at Pune 16th to 19th Jan 2014.</li>
                        <li>Dr. Rubella Sathiyavathy, The CME Programe on Stem Cell Research and its application, held on 25th Jan 2014 at Tagore Medical College &amp; Hospital, Rathinamangalam, Chennai &#8211; 600 127.</li>
                        <li>Dr. Rubella Sathiyavathy, National Road Show on &quot;Enterpruners&quot; Conducted by Federation of Indian Chamber of Commerce on 16th Jan 2014 at Trident Hotel Chennai.</li>
                        <li>Dr. M. Sasirekha, CME Programe of &#8216;Stem Cell research and its Clinical Application&#8217;, on 25th Jan 2014, organized by the Department of Anatomy, Tagore Medical College, Chennai.</li>
                        <li>Dr. M. Sasirekha, Urogenital system- Development, Anomalies &amp; Genetic perspective &#8211; Organized by Department of Anatomy &#8211; Meenakshi Medical College &amp; Hospitals and Research Institute on 14th March 2014. </li>
                        <li>Dr. P. Lavanya, Urogenital system- Development, Anomalies &amp; Genetic perspective &#8211; Organized by Department of Anatomy &#8211; Meenakshi Medical College &amp; Hospitals and Research Institute on 14th March 2014.</li>
                        <li>Mrs. P. Vaijayanthimala, Urogenital system- Development, Anomalies &amp; Genetic perspective &#8211; Organized by Department of Anatomy &#8211; Meenakshi Medical College &amp; Hospitals and Research Institute on 14th March 2014.</li>
                        <li>Ms. Shanthi Santhosh Kumari, Urogenital system- Development, Anomalies &amp; Genetic perspective &#8211; Organized by Department of Anatomy &#8211; Meenakshi Medical College &amp; Hospitals and Research Institute on 14th March
                            2014.
                        </li>
                        <li>Dr. T. Susila, Attended International Seminar on Health care Management by UNSW, Australia &amp; SRM, (University of Southwales) and also presented poster on &quot;Operational strategies for effective coverage of IPT (Isoniazid
                            Preventive Therapy)&quot;, On Jan 10th and 11th 2014.</li>
                        <li>Dr. Chandrasekaran, Department of Orthopeadics, Score 2014 from 22nd to 25th Jan 2014, at Sri Ramachandra Medical College, Chennai &#8211; 600 116.</li>
                        <li>Dr. K. Balachandran, &quot;Symposium on Sleep Apneia&quot; &#8211; held at Hotel Savera, Radha Krishnan Road, 5th Jan 2014. Conducted by Indian Association of Surgeon.</li>
                        <li>Mr. S. Thamizharasan, 12th Winter symposium 2014, at Christian Medical College, Vellore, on 10 &#8211; 12th Feb 2014.</li>
                        <li>Dr. K. Chandra &#8211; International cancer conference, ACC-2014 (Apollo Cancer Conclave 2014) held ITC Grand Chola , Chennai during Feb 7.</li>
                        <li></li>
                        <li>Dr. R. Mohammed Shakir &#8211; International cancer conference, ACC-2014 (Apollo Cancer Conclave 2014) held ITC Grand Chola , Chennai during Feb 7,8 &amp; 9.</li>
                        <li>Dr. T.V. Govindan, The Apollo Cancer Conclave &#8211; 2014, at Chennai, held on 6th &#8211; 9th Feb 2014.</li>
                        <li>Dr. Raj Kanna, 3rd Advanced Arthroplasty Course, CME on &quot; The Art &amp; Science of Navigation &amp; Mobile Bearing in TKA&quot; at DePuy Synthes Institute, Chennai, on February 21st &amp; 22nd &#8211; 2014.</li>
                        <li>Dr. Alagammai Chidambaram, The clinical meeting for the month of Feb 2014, at OGSSI Auditorium, IOG Campus, Egmore, Chennai, on 25th Feb 2014.</li>
                        <li>Dr. Sandhya Hegde, Academy of Continuing Surgical Education, one day workshop on Comprehensive Maxillofacial Surgery at Thai Moogambigai Dental College &amp; Hospital, Chennai. On 19th Mar 2014.</li>
                        <li>Dr. H. Kalavathy Victor, Tamil Nadu State Task Force is Organizing STF Meeting, at conference hall Savera Hotel, 146 Dr. Radhakrishnan Salai, Mylapore, Chennai. On 5th June 2014.</li>
                        <li>Dr. B. Ananthi, Tamil Nadu State Task Force is Organizing STF Meeting, at conference hall Savera Hotel, 146 Dr. Radhakrishnan Salai, Mylapore, Chennai. On 5th June 2014.</li>
                        <li>Dr. Leila Gracelyn, The 14th international conference, Dilemmas, Controversies and challenges in Sub &#8211; Fertility Obstetrics &amp; Gynaecology, venue Zachariah mar Dionysius auditorium The madras Medical College, Chennai &#8211;
                            600 037, on 30th and 31st of July 2014.</li>
                        <li>Dr. B.S. Jayalakshmi, The 10th annual conference of the API TNSC, held at salem on 26th &amp; 27th July 2014.</li>
                        <li>Dr. J. Lavanya, Two day National level workshop on Laboratory animal for experimental research (Lear &#8211; Brulac &#8211; 2014) 3rd and 4th July 2014, at Saveetha Univesity.</li>
                        <li>Dr. Rubella Sathiavathy, 3rd National conference of society of clinical anatomists, at Puducherry on 24th and 25th May 2014.</li>
                        <li>Dr. P. Niroopama, The Fourteenth International Conference, Dilemmas, Controversies and challenges in SUB &#8211; FERTILITY OBSTERITCS &amp; CYNAECOLOGY, held on 30th July 2014 and 2and Aug 2014 at The Madras Medical Mission, Chennai
                            &#8211; 600 037.</li>
                        <li>Dr. R. Ponnudurai, Indian Psychiatric society National Mid &#8211; Term CME &#8211; 2014 on 1st Aug and 4th Aug 2014 at ITC Mughal, Agra.</li>
                        <li>Dr. Gita K. Murthy, Quality workshop on Nabh Entry Level accreditation for CMCHIS on 28th Aug 2014.</li>
                        <li>Dr. T. Susila, 6th Annual National Emergency Medicine and Critical Care Conference of Association of Emergency Physicians India (IEP) at Hosted by Dr. Mehta&#8217;s group of Hospital, Chennai, on 1st &amp; 2nd August 2014.</li>
                        <li>Dr. B.S. Jayalakshmi, TIMA AMSCON 2014 A multi speciality conference of IMA Academy of Medical Specialties Tamilnadu State Branch, on 19th Oct 2014 at Apollo specialty Hospital, Vanagaram, Chennai.</li>
                        <li>Dr. Daisy Dharmaraj, Dr. KK Dutta Gupta and Aadila Naaz, Privatized Health Services and Out &#8211; of &#8211; Pocket expenditure towards health care impacting the economy and wellbeing of the people in India-a study in Chennai,
                            Presented in 21st Canadian Conference on International Health, Nov &#8211; 3rd 2014, Ottawa, Canada, Westin Hotel.</li>
                        <li>Dr. T. Susila and Dr. Daisy Dharmaraj, &quot;Feasibility and scope of contact tracing for tuberculosis through public-private partnership in resource constrained, high TB burden settings&quot;. The poster presentation in 21st Canadian
                            Conference on International Health, Nov &#8211; 3rd 2014, Ottawa, Canada, Westin Hotel.</li>
                        <li>Dr. P. Mahendranath, &quot;Update on Breast Patholoty 2014&quot; at Sri Ramachandra University on 30th April 2014.</li>
                        <li>Dr. V.S. Veena Paul, &quot;Update on Breast Patholoty 2014&quot; at Sri Ramachandra University on 30th April 2014.</li>
                    </ol>
                    <p align="center"><strong><u>CONFERENCE ATTENDED  2015</u></strong></p>
                    <ol>
                        <li>Dr. Christina Mary P Paul, &quot;CME on Leprosy&quot; to Commemorate &quot;Anti Leprosy&quot; on 05.02.2015 at Karpaga Vinayaga Institute of Medical Science and Research centre.</li>
                        <li>Dr. P. Mahendranath, &quot;Gastro Intestinal and Hepatic pathology 2015&quot; at Jawaharlal Institute of Post Graduate Medical Education and Research (JIPMER), on 7th Feb 2015.</li>
                        <li>Dr. V.S. Veena Paul, &quot;Gastro Intestinal and Hepatic pathology 2015&quot; at Jawaharlal Institute of Post Graduate Medical Education and Research (JIPMER), on 7th Feb 2015.</li>
                        <li>Dr. Mythili Paul, &quot;Gastro Intestinal and Hepatic pathology 2015&quot; at Jawaharlal Institute of Post Graduate Medical Education and Research (JIPMER), on 7th Feb 2015.</li>
                        <li>Dr. Dhananjayan, &quot;CME on vitamin D &#8211; Measurement Techniques and Clinical Applications&quot; Tamil Nadu Chapter of ACBI and Department of Clinical Biochemistry Christian Medical College, Vellore on 25th July 2015.</li>
                        <li>Dr. Karrunya K.J. &#8220;Having completed her training in Medical Cosmetology is awarded PGDCC on 29th Feb 2016 at Indian Institute of Aesthetic Medicine&#8221;.</li>
                    </ol>
                    <p align="center"><strong><u>CONFERENCE ATTENDED  2016</u></strong></p>
                    <ol>
                        <li> Dr. R. Dhananjayan, &#8220;Diabetes Association of India &#8211; Southern Chapter&#8221; held at Le Royal Meridien, Chennai, from 23rd- 24th Jan 2016.</li>
                        <li> Dr. K.J. Karunya, &#8220;Varicella Presenting as Penile Ulcer &#8211; A Case Report&#8221; held at CODISSA, Coimbatore, from 21st to 24th Jan 2016.</li>
                        <li> Dr. B.S. Jayalakshmi, &#8220;Department of Physiology and Anatomy national conference CONNEXION 2016&#8243;, Sree Balaji Medical College &#038; Hospital, Bharath University, held on 28.01.2016.</li>
                        <li> Dr. Christina Mary p. paul, &#8220;Setting benchmarks in Teaching and learning through ICT&#8221; at Sri Ramachandra University, on 5th and 6th Feb 2016.</li>
                        <li> Dr. Kalavathy Victor, &#8220;Setting benchmarks in Teaching and learning through ICT&#8221; at Sri Ramachandra University, on 5th and 6th Feb 2016.</li>
                        <li> Dr. V. Sudha, &#8220;8th International Conference on Sexology&#8221; at The Tamil Nadu Dr. M.G.R. Medical University, on13th and 14th Feb 2016.</li>
                        <li> Dr. K.J. Karrunya, &#8220;Medical Cosmetology is awarded PGDCC&#8221;, &#8220;Post graduate diploma in clinical cosmetology&#8221; on 29th Feb 2016.</li>
                        <li> Mrs. Chanemougavally, &#8220;Anatomy E – Learning&#8221; (Computer Aided Learning &#8211; &#8216;Hype or a Practical reality&#8217;), held at SRM Medical college Hospital &#038; Research Centre, Kattankulathur, on 30th Apr 2016.</li>
                        <li> Mrs. P. Vaijayathi Mala, &#8220;Anatomy E – Learning” (Computer Aided Learning &#8211; &#8216;Hype or a Practical reality&#8217;), held at SRM Medical college Hospital &#038; Research Centre, Kattankulathur, on 30th Apr 2016.</li>
                        <li> Mrs. S. Shanthi Santhosh Kumari, &#8220;Anatomy E – Learning” (Computer Aided Learning &#8211; &#8216;Hype or a Practical reality&#8217;), held at SRM Medical college Hospital &#038; Research Centre, Kattankulathur, on 30th Apr
                            2016.
                        </li>
                        <li> Mrs. Dr. V.Sudha, &#8220;National Symposium on clinical Dermatology &#038; beside investigations &#8211; 2016&#8243;, held at NIMHANS Convention Centre, Hosur Road, Bengaluru, on 11th &#038; 12th June.</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>




</div>

{% endblock content %}