{% extends "college/base.html" %} {% block content %}
<style>
    h5 {
        font-size: 20px;
        font-family: 'Eurostile', sans-serif;
        font-weight: 600;
        color: #000000;
        letter-spacing: 0.005em;
        margin-bottom: 15px;
        position: relative;
    }
    
    strong {
        font-size: 20px;
    }
    
    ol li {
        list-style-type: decimal;
        margin-bottom: 10px;
        line-height: 25px;
    }
    
    strong {
        font-weight: 800;
    }
    
    .firstol {
        list-style-type: decimal;
    }
    
    .firstol li {
        margin-bottom: 12px;
        margin-left: 60px;
        line-height: 20px;
    }
    
    .firstul {
        list-style-type: disc;
        margin-top: 5px;
    }
    
    .firstul li {
        margin-bottom: 12px;
        margin-left: 60px;
        line-height: 25px;
    }
    
    .bold {
        font-weight: 800 !important;
    }
    
    .secondul {
        list-style-type: circle;
        margin-top: 5px;
    }
    
    .secondul li {
        margin-bottom: 12px;
        margin-left: 60px;
        line-height: 20px;
    }
    
    .table-responsive {
        min-height: .01%;
        overflow-x: auto
    }
    
    @media screen and (max-width:767px) {
        .table-responsive {
            width: 100%;
            margin-bottom: 15px;
            overflow-y: hidden;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            border: 1px solid #ddd
        }
    }
</style>
<div class="resource_inner">
    <section class="hostl_facility">
        <div class="container">

            <div class="row">
                <div class="  col-sm-6 col-lg-12 lft_aln">

                    <h2>Research work published</h2>
                    <ol>
                        <li><a style="color: red;" href="http://acsmch.ac.in/new/?page_id=570">Role of Azadirachta Indica ( Neem Leaf) &#8211; Dr. R. Vanaja<br />
                    </a></li>
                        <li><a style="color: red;" href="http://acsmch.ac.in/new/?page_id=574">Role of Simvastatin- Dr. G. Brindha</a></li>
                    </ol>
                    <p>
                        <h4 class="style1 style4"><strong>Research Projects undertaken and completed during the last three years</strong></h4>
                    </p>
                    <p>
                        <h4 class="style3"><strong>Students ICMR Research Project</strong></h4>
                    </p>
                    <p> 1. Adila Naaz-3rd MBBS<br /> ICMR STS Project No. 00799(2011)<br /> Study on out of pocket expenditure incurred towards health care and reason for underutilization of government health services among semi urban population in Chennai.<br
                        /> uide: Der. Daisy Dharmaraj Associate Professor, Department of Community Medicine</p>
                    <p>2. Lakshmi Aishwarya-3rd MBBS<br /> ICMR STS Project No. 00794 (2011)<br /> study of behavioral problems in children with dyslexia and non dyslexic students<br /> Guide:- Dr. Pankaja Ravi Raghav, Professor and Head, Department of Community
                        Medicine
                    </p>
                    <p>3. Sandhya Rajendran-3rd MBBS (part II)<br /> ICMR STS Project No. 01133 (2012)<br /> Mental health among adolescents and its psycho-social correlates-A cross sectional study. Guide:- Dr. Balaji, Assistant Professor Department of Community
                        Medicine </p>
                    <p>4. Vinithra Varadharajan-3rd MBBS<br /> ICMR STS Project No. 01865 (2012)<br /> Effect of violent videogames on aggressive behavior of adolescents- A randomized<br /> control trial<br /> Guide:- Mr. Thandapani, Lecturer of statistics,
                        Department of Community Medicine</p>
                    <p>5. Shanmugapriya Dhakshinamurthy- 3rd MBBS (part I)<br /> ICMR STS Project No. 02850 (2012)<br /> Prevalance of overweight and obesity in school going children and its predisposing<br /> factors, urban versus rural Chennai.<br /> Guide:-
                        Dr. Vimala Sarojini, Professor and Head, Department of Paediatrics.</p>
                    <p>6. Ms. B. Monica-3rd MBBS (part I)<br /> ICMR STS Project No.03555 (2013)<br /> Microbiological analysis of packaged drinking water sold in Chennai.<br /> Guide: Dr. V. Kalpana Devi, Assistant Professor, Department of Microbiology.</p>
                    <p>7. Mr.Abraham Hosea Lamech-3rd MBBS (part I)<br /> ICMR STS Project No.03990 (2013)<br /> Lifestyle and eating habits related to nutritional status in adolcent school children<br /> in Chennai, South India , Cross-sectional study.<br
                        /> Guide: Dr. Suba Rajinikanth Assistant Professor, Department of Paediatrics.</p>
                    <p>8. Ms. L. Agalya-3rd MBBS (part I)<br /> ICMR STS Project No.03876 (2013)<br /> A study of behavior problems in primary school going children in rural TamilNadu<br /> India. Guide: Dr. Mubeen Taj Assistant Professor, Department of
                        Pschyiatry.
                    </p>
                    <p>9. Ms. Priyanka Selvam-3rd MBBS (part I)<br /> ICMR STS Project No.02673 (2013)<br /> Gender differential in the geriatric age group and their coping mechanism.<br /> Guide: Dr. Christina Mary Priya Paul Assistant Professor, Department<br
                        /> of Community Medicine.</p>
                    <p>
                        <h4 class="style3"><strong>All above mentioned nine MBBS students received Rs.10,000/- from Indian council of medical research as award along with certificate.</strong></h4>
                    </p>
                    <p><strong>WHO &#8211; RNTCP Sponsored project (sanctioned amount Rs. 1,00,000/-) </strong><br /> Strategies for Effective Implementation of Isoniazid Preventive Treatment (IPT) &#8211; An Interventional Study by Dr. T. Susila and Dr.
                        Daisy Dharmaraj, Department of Community Medicine</p>
                    <p><strong>STATE RNTCP APPROVED  OPERATIONAL RESEARCH PROJECT (sanctioned amount Rs. 1,00,000/-) </strong></p>
                    <p>Study on &quot; Evaluation of Quality of Sputum Microscopy in Designated Microscopic Centres of Tiruvallur District&quot; by Dr. Kalpana Devi , Dr. B. Ananthi and Dr. H. Kalavathy Victor.</p>
                    </p>
                    <p><br/><br />
                        <center> <strong> Details of Journal Articles and books Published after October 2015</strong></center>
                    </p>
                    <table border="1">
                        <thead>
                            <tr>
                                <th>Serial number </th>
                                <th>Author Name </th>
                                <th>Title of the article </th>
                                <th>Name of the journal</th>
                                <th>Year of publication</th>
                                <th>Department of the author </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>Dr G. Brindha</td>
                                <td>Lipid profile in MI- controversies Revisited</td>
                                <td>Indian Journal of Scientific Research</td>
                                <td>2016</td>
                                <td>Biochemistry </td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Dr G. Brindha</td>
                                <td>Variations of PF, Lipid Profile &#038; Hematological Parameters in smokers</td>
                                <td>Indian Journal of Scientific Research</td>
                                <td>2016</td>
                                <td>Biochemistry </td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>Dr G. Brindha</td>
                                <td>A novel biochemical marker for Risk Stratification in Obesity- Fibrinogen</td>
                                <td>Indian Journal of Current Medical &#038; Applied Sciences</td>
                                <td>2016</td>
                                <td>Biochemistry </td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>Dr G. Brindha</td>
                                <td>Supplementation of Vitamin E on Urinary risk factors and Calcium oxalate Monohydrate binding proteins in Urolithiasis.</td>
                                <td>Indian Journal of Scientific Research</td>
                                <td>2016</td>
                                <td>Biochemistry </td>
                            </tr>
                            <tr>
                                <td>5.</td>
                                <td>Dr. T.M.Mani</td>
                                <td>Profile of Transfusion Recipients in A Tertiary Care Centre in Chennai</td>
                                <td>Global Journal For Research Analysis</td>
                                <td>2016</td>
                                <td>General Surgery </td>
                            </tr>
                            <tr>
                                <td>6.</td>
                                <td>Dr christina Mary P Paul</td>
                                <td>A Retrospective Study on Low Birth Weight and Associated Maternal Factors in a Tertiary Care Hospital at Chennai</td>
                                <td>Global Journal For Research Analysis</td>
                                <td>2016</td>
                                <td>Community Medicine</td>
                            </tr>
                            <tr>
                                <td>7.</td>
                                <td>Dr christina Mary P Paul</td>
                                <td>A Study on the Profile of Neonatal Hyperbilirubinemia in a Tertiary Health Care Centre In Chennai</td>
                                <td>Global Journal For Research Analysis</td>
                                <td>2016</td>
                                <td>Community Medicine</td>
                            </tr>
                            <tr>
                                <td>8.</td>
                                <td>Dr christina Mary P Paul</td>
                                <td>Profile of Transfusion Recipients in A Tertiary Care Centre in Chennai</td>
                                <td>Global Journal For Research Analysis</td>
                                <td>2016</td>
                                <td>Community Medicine</td>
                            </tr>
                            <tr>
                                <td>9.</td>
                                <td>Dr christina Mary P Paul</td>
                                <td>Neovascularization in Advanced Atherosclerosis &#8211; A Histomorphometric Study</td>
                                <td>International Journal of Medical Research and Review</td>
                                <td>2016</td>
                                <td>Community Medicine</td>
                            </tr>
                            <tr>
                                <td>10.</td>
                                <td>Dr christina Mary P Paul</td>
                                <td>Quantification of Various Inflammatory Cells in Advanced Atherosclerotic Plaques</td>
                                <td>Journal of Clinical and Diagnostic Research</td>
                                <td>2016</td>
                                <td>Community Medicine</td>
                            </tr>
                            <tr>
                                <td>11.</td>
                                <td>Dr. Veena Paul V.S</td>
                                <td>Quantification of Various Inflammatory Cells in Advanced Atherosclerotic Plaques</td>
                                <td>Journal of Clinical and Diagnostic Research</td>
                                <td>2016</td>
                                <td>Pathology</td>
                            </tr>
                            <tr>
                                <td>12.</td>
                                <td>Dr. Veena Paul V.S</td>
                                <td>Neovascularization in Advanced Atherosclerosis &#8211; A Histomorphometric Study</td>
                                <td>International Journal of Medical Research and Review</td>
                                <td>2016</td>
                                <td>Pathology</td>
                            </tr>
                            <tr>
                                <td>13.</td>
                                <td>Dr. Dhanraj</td>
                                <td>Profile of Transfusion Recipients in A Tertiary Care Centre in Chennai</td>
                                <td>Global Journal For Research Analysis</td>
                                <td>2016</td>
                                <td>General Surgery</td>
                            </tr>
                            <tr>
                                <td>14.</td>
                                <td>Dr. Gunasundari . P</td>
                                <td>A Study on the Profile of Neonatal Hyperbilirubinemia in a Tertiary Health Care Centre In Chennai</td>
                                <td>Global Journal For Research Analysis</td>
                                <td>2016</td>
                                <td>Paediatrics</td>
                            </tr>
                            <tr>
                                <td>15.</td>
                                <td>Dr. Gunasundari . P</td>
                                <td>A Retrospective Study on Low Birth Weight and Associated Maternal Factors in a Tertiary Care Hospital at Chennai</td>
                                <td>Global Journal For Research Analysis</td>
                                <td>2016</td>
                                <td>Paediatrics</td>
                            </tr>
                            <tr>
                                <td>16.</td>
                                <td>Dr. Leila Gracelyn</td>
                                <td>Prevalence of glucose tolerance test abnormalities in women with polycystic ovarian syndrome</td>
                                <td>International journal of reproduction, contraception, obstetrics and gynaecology</td>
                                <td>Dec 2015</td>
                                <td>OB &#038;GYN</td>
                            </tr>
                            <tr>
                                <td>17.</td>
                                <td>Dr. Leila Gracelyn</td>
                                <td>Prevalence of hyperprolactinemia in infertile women and its association with hypothyroidism </td>
                                <td>International journal of advances in Medicine</td>
                                <td>Feb 2016</td>
                                <td>OB &#038;GYN</td>
                            </tr>
                            <tr>
                                <td>18.</td>
                                <td>Dr. Leila Gracelyn</td>
                                <td>Prevalence of gestational diabetes mellitus in antenatal women and its associated risk </td>
                                <td>International journal of reproduction, contraception, obstetrics and gynaecology</td>
                                <td>Feb 2016</td>
                                <td>OB &#038;GYN</td>
                            </tr>
                            <tr>
                                <td>19.</td>
                                <td>Dr. Leila Gracelyn</td>
                                <td>Prevalence of subclinical and overt hypothyroidism in infertile women</td>
                                <td>International journal of reproduction, contraception, obstetrics and gynaecology</td>
                                <td>Dec 2015</td>
                                <td>OB &#038;GYN</td>
                            </tr>
                            <tr>
                                <td>20.</td>
                                <td>Dr. Maithreyi</td>
                                <td>Senear Usher Syndrome presenting with bipolar disorder: Management challenges</td>
                                <td>Indian journal of psychiatry </td>
                                <td>Dec 2015</td>
                                <td>Psychiatry</td>
                            </tr>
                            <tr>
                                <td>21.</td>
                                <td>Dr. Maithreyi</td>
                                <td>A pilot study to assess emotional distress and quality of life among transgenders in South India</td>
                                <td>Journal of neuropsychiatry </td>
                                <td>March 2016</td>
                                <td>Psychiatry</td>
                            </tr>
                            <tr>
                                <td>22.</td>
                                <td>Dr.G.Thenmozhi</td>
                                <td>An unusual presentation of invasive mole</td>
                                <td>online journal of The TN Dr. M.G.R. University</td>
                                <td>2016</td>
                                <td>OB &#038;GYN</td>
                            </tr>
                            <tr>
                                <td>23.</td>
                                <td>Shanthi Santhosh Kumari.S</td>
                                <td>Evaluation of sex in humerus</td>
                                <td>International Journal of Scientific Research</td>
                                <td>2016</td>
                                <td>Anatomy</td>
                            </tr>
                            <tr>
                                <td>24.</td>
                                <td>Vaijayanthimala.P</td>
                                <td>Evaluation of sex in humerus</td>
                                <td>International Journal of Scientific Research</td>
                                <td>2016</td>
                                <td>Anatomy</td>
                            </tr>
                            <tr>
                                <td>25.</td>
                                <td>Dr.Ganesh, M</td>
                                <td>Study on the prescription pattern of oral hypoglycemic agents in type 2 Diabetes mellitus in the outpatient department of a tertiary care hospital in Chennai</td>
                                <td>Indian Journal of Applied Research</td>
                                <td>2016</td>
                                <td>Physiology</td>
                            </tr>
                            <tr>
                                <td>26.</td>
                                <td>Bhagyashree. N</td>
                                <td>A correlative study showing the relationship of salivary uric acid level with the metabolic syndrome components and its severity. </td>
                                <td>International Journal of Applied Biology and Pharmaceutical Technology</td>
                                <td>2016</td>
                                <td>Physiology</td>
                            </tr>
                            <tr>
                                <td>27.</td>
                                <td>Dr.Ganesh, M</td>
                                <td>A correlative study showing the relationship of salivary uric acid level with the metabolic syndrome components and its severity. </td>
                                <td>International Journal of Applied Biology and Pharmaceutical Technology</td>
                                <td>2016</td>
                                <td>Physiology</td>
                            </tr>
                            <tr>
                                <td>28.</td>
                                <td>Bhagyashree. N</td>
                                <td>Is autonomic function test helps to assess the severity of metabolic syndrome: A study on comparison of Frequency &#8211; Domain recordings of Heart rate variability (HRV) with the severity of metabolic syndrome</td>
                                <td>Biomedicine</td>
                                <td>2016</td>
                                <td>Physiology</td>
                            </tr>
                            <tr>
                                <td>29.</td>
                                <td>Dr.GaneshM</td>
                                <td>Is autonomic function test helps to assess the severity of metabolic syndrome: A study on comparison of Frequency &#8211; Domain recordings of Heart rate variability (HRV) with the severity of metabolic syndrome</td>
                                <td>Biomedicine</td>
                                <td>2016</td>
                                <td>Physiology</td>
                            </tr>
                            <tr>
                                <td>30.</td>
                                <td>Bhagyashree. N</td>
                                <td>Critical Approach on Abhyanga (External Oleation) Review Article.</td>
                                <td>International Journal of Ayurveda and pharmaceutical chemistry</td>
                                <td>2016</td>
                                <td>Physiology</td>
                            </tr>
                            <tr>
                                <td>31.</td>
                                <td>Dr. V. Sudha</td>
                                <td>A study on male homosexual behavior</td>
                                <td>Indian Journal of Sexually Transmitted Diseases and AIDS</td>
                                <td>2016</td>
                                <td>Dermatology</td>
                            </tr>
                            <tr>
                                <td>32.</td>
                                <td>Dr.Sridevi.SA</td>
                                <td>Self Medication Pattern and Practices Among Software Professionals in the Urban Population of Chennai</td>
                                <td>International Journal of Scientific Research</td>
                                <td>2016</td>
                                <td>Pharmacology</td>
                            </tr>
                            <tr>
                                <td>33.</td>
                                <td>Dr.Sridevi.SA</td>
                                <td>Study on the prescription pattern of oral hypoglycemic agents in type 2 Diabetes mellitus in the outpatient department of a tertiary care hospital in Chennai</td>
                                <td>Indian Journal of Applied Research</td>
                                <td>2016</td>
                                <td>Pharmacology</td>
                            </tr>
                            <tr>
                                <td>34.</td>
                                <td>Dr.S.Thamizharasan</td>
                                <td>ɑ &#8211; Amylase and ɑ &#8211; Glucosidase Activity of Mimosa Pudica. Linn Flowers</td>
                                <td>Indian Journal Of Research</td>
                                <td>2016</td>
                                <td>Pharmacology</td>
                            </tr>
                            <tr>
                                <td>35.</td>
                                <td>Dr. Vijaylakshmi Praveen </td>
                                <td>Quality of life among elderly in a rural area</td>
                                <td>Int J Community Med Public Health</td>
                                <td>2016</td>
                                <td>Community medicine</td>
                            </tr>
                            <tr>
                                <td>36.</td>
                                <td>Dr.R.G. Anand </td>
                                <td>A Study of Prevalence of Hypertension among Rural Adult Population</td>
                                <td>Journal of Medical Science And clinical Research</td>
                                <td>2016</td>
                                <td>Community medicine</td>
                            </tr>
                            <tr>
                                <td>37.</td>
                                <td>Dr.R.G. Anand </td>
                                <td>Research Analysis of the Community in Rendering HIV/AIDS care</td>
                                <td>Global Journal For Research Analysis</td>
                                <td>2016</td>
                                <td>Community medicine</td>
                            </tr>
                            <tr>
                                <td>38.</td>
                                <td>Dr.R.G. Anand </td>
                                <td>A Study about Correlates and Alertness on Hypertension</td>
                                <td>International Journal of Advanced Research </td>
                                <td>2016</td>
                                <td>Community medicine</td>
                            </tr>
                            <tr>
                                <td>39.</td>
                                <td>Dr.Sridevi.SA</td>
                                <td>Knowledge, Attitude And Practice Perspective Study On The Awareness Of Dengue Fever Among Interns Of A Tertiary Care Hospital In Chennai.</td>
                                <td>International Journal of Pharma and Bio Sciences </td>
                                <td>2016</td>
                                <td>Pharmacology</td>
                            </tr>
                            <tr>
                                <td>40.</td>
                                <td>K. Ramya</td>
                                <td>Self Medication Pattern and Practices Among Software Professionals in the Urban Population of Chennai</td>
                                <td>International Journal of Scientific Research </td>
                                <td>2016</td>
                                <td>Physiology</td>
                            </tr>
                            <tr>
                                <td>41.</td>
                                <td>Dr.Ganesh. M</td>
                                <td>Self Medication Pattern and Practices Among Software Professionals in the Urban Population of Chennai</td>
                                <td>International Journal of Scientific Research </td>
                                <td>2016</td>
                                <td>Physiology</td>
                            </tr>
                            <tr>
                                <td>42.</td>
                                <td>Dr. H. Gayathri</td>
                                <td>Low dose intratympanic gentamicin for control of intractable vertigo</td>
                                <td>Indian journal of Otology </td>
                                <td>2016</td>
                                <td>ENT</td>
                            </tr>
                            <tr>
                                <td>43.</td>
                                <td>Dr. V. Sudha</td>
                                <td>Risk Behaviours and Prevalence of STIS/RTI s and HIV in Persons Involved in Premarital Sexual Behavior among STD Clinic Attendees of Govt. General Hospital, Chennai</td>
                                <td>International Journal of Health Sciences and Research </td>
                                <td>2016</td>
                                <td>Dermatology</td>
                            </tr>
                            <tr>
                                <td>44.</td>
                                <td>Dr.Pragna B.Dolia</td>
                                <td>Decreased activity of HDL associated enzyme:Paraoxonase(PON)during uncompensated oxidative stress among type 2 diabetes mellitus patients</td>
                                <td> International Journal of Diabetes in Developing Countries </td>
                                <td>Dec 2015</td>
                                <td>Biochemistry</td>
                            </tr>
                            <tr>
                                <td>45.</td>
                                <td>Dr T.M.Mani</td>
                                <td>A study on the profile of signs and symptoms among appendicitis patients admitted in a tertiary health care Centre in Chennai</td>
                                <td>Global Journal For Research Analysis</td>
                                <td>2016</td>
                                <td>General Surgery</td>
                            </tr>
                            <tr>
                                <td>46.</td>
                                <td>Dr. Dhanraj</td>
                                <td>A study on the profile of signs and symptoms among appendicitis patients admitted in a tertiary health care Centre in Chennai</td>
                                <td>Global Journal For Research Analysis</td>
                                <td>2016</td>
                                <td>General Surgery</td>
                            </tr>
                            <tr>
                                <td>47.</td>
                                <td>Dr christina Mary P Paul</td>
                                <td>A study on the profile of signs and symptoms among appendicitis patients admitted in a tertiary health care Centre in Chennai</td>
                                <td>Global Journal For Research Analysis</td>
                                <td>2016</td>
                                <td>Community medicine</td>
                            </tr>
                            <tr>
                                <td>48.</td>
                                <td>Dr. Amrit Kaur Kaler</td>
                                <td>Collagenous spherules of the breast : A diagnostic Enigma </td>
                                <td>Journal Of Evidence Based Medicine And Healthcare</td>
                                <td>2016</td>
                                <td>Pathology</td>
                            </tr>
                            <tr>
                                <td>49.</td>
                                <td>Dr R .Ponnudurai </td>
                                <td>Suicide in India &#8211; changing trends and challenges ahead </td>
                                <td>Indian Journal of Psychiatry</td>
                                <td>Dec 2015</td>
                                <td>Psychiatry </td>
                            </tr>
                        </tbody>
                    </table>
                    <p><strong>Books Authored:</p>
                    <ol>
                    <li>Principles and interpretation of laboratory practices in surgical pathology : Jaypee Publishers, 2016 &#8211; Dr Amrit Kaur (Published )</li>
                    <li>Reference book on practical studies of Community Medicine : Jaypee Publishers, 2016 &#8211; Brig K.K.Duttagupta (VSM) (Accepted, awaiting publication)</li>
                    <li>Text Book of Geriatric Medicine; (chapters contributed)-Dr.B.Krishnaswamy
                    <ol type="a">
                    <li>Principles and practice of geriatric medicine</li>
                    <li>Comprehensive geriatric assessment</li>
                    </ol>
                    </li>
                    </ol>
                    <p><br/></p>
                    <p><strong>Ongoing projects initiated after October 2015</strong></p>
                    <table border="1">
                        <thead>
                            <tr>
                                <th>Serial number </th>
                                <th>Research Title</th>
                                <th>Principal investigator</th>
                                <th>Department</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>Study of bone markers and lipid profile in pre and post menopausal women</td>
                                <td>Dr G. Brindha</td>
                                <td>Biochemistry </td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Role of Redox status and catalase polymorphism in premature canities</td>
                                <td>Dr V.Sathiyapriya</td>
                                <td>Biochemistry </td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>Lipid profile and glycated hemoglobin in type 2 diabetic patients</td>
                                <td>Mrs.P.Padmavathi</td>
                                <td>Biochemistry </td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>Is Hypovitaminosis D the hidden culprit behind renal impairment in obese subjects?</td>
                                <td>Dr.A.Hariharan</td>
                                <td>Biochemistry </td>
                            </tr>
                            <tr>
                                <td>5.</td>
                                <td>A study of cephalic index in medical students</td>
                                <td>Mrs Shanthi Santosh Kumari</td>
                                <td>Anatomy </td>
                            </tr>
                            <tr>
                                <td>6.</td>
                                <td>Radiological study of clavicle for estimatiom of age </td>
                                <td>Dr Sasirekha, Dr Shruthi</td>
                                <td>Anatomy </td>
                            </tr>
                            <tr>
                                <td>7.</td>
                                <td>Retrospective study of anatomical sites of mandibular fracture</td>
                                <td>Dr Chanmugavally, Dr Shruthi</td>
                                <td>Anatomy </td>
                            </tr>
                            <tr>
                                <td>8.</td>
                                <td>Paederus Dermatitis &#8211; A case series in a tertiary health care hospital in Chennai</td>
                                <td>Dr K.J.Karrunya, Dr V. Sudha, Dr S.Asiya Begum</td>
                                <td>Dermatology </td>
                            </tr>
                            <tr>
                                <td>9.</td>
                                <td>Perceived stress, mental health issues and substance use in late adolescence and young adulthood &#8211; A survey </td>
                                <td>Dr Mubeen Taj, Dr Monica S</td>
                                <td>Psychiatry </td>
                            </tr>
                            <tr>
                                <td>10.</td>
                                <td>Comparative study of conventional Vs custom made vaccum assisted closure technique for 50 cases of chronic ulcer </td>
                                <td>Dr A.P. Selvam, Dr K.Loganathan</td>
                                <td>Surgery </td>
                            </tr>
                            <tr>
                                <td>11.</td>
                                <td>Follow &#8211; up of fifty cases of diabetic foot complications </td>
                                <td>Dr A.P. Selvam, Dr K.Loganathan</td>
                                <td>Surgery </td>
                            </tr>
                        </tbody>
                    </table>
                    <p><br/></p>
                    <p><strong>Interdepartmental Projects after October 2015</strong></p>
                    <table border="1">
                        <thead>
                            <tr>
                                <th>S. No</th>
                                <th>Research Title</th>
                                <th>Departments involved</th>
                                <th>Name of the Faculty</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>Quantification of Various Inflammatory Cells in Advanced Atherosclerotic Plaques</td>
                                <td>Community Medicine<br/>Pathology</td>
                                <td>Dr. Christina Mary P Paul<br/>Dr. Veena Paul V S</td>
                                <td>Completed and Published </td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Neovascularization in Advanced Atherosclerosis &#8211; A Histomorphometric Study</td>
                                <td>Community Medicine<br/>Pathology</td>
                                <td>Dr. Christina Mary P Paul<br/>Dr. Veena Paul V S</td>
                                <td>Completed and Published </td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>A Study on the Profile of Neonatal Hyperbilirubinemia in a Tertiary Health Care Centre In Chennai</td>
                                <td>Community Medicine<br/>Paediatrics</td>
                                <td>Dr.P.Gunasundari <br/>Dr.G.Gurunathan <br/>Dr.Christina Mary P.Paul</td>
                                <td>Completed and Published </td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>Profile of Transfusion Recipients in A Tertiary Care Centre in Chennai,</td>
                                <td>Community Medicine<br/>Surgery</td>
                                <td>Dr. T.M.Mani, <br/>Dr. L.Dhanaraj, <br/>Dr. Christina Mary.P.Paul, <br/> Dr. S.Rajesh Kumar,<br/> Dr. S.Priyanka CRRI, <br/>Dr. Saranya Nagalingam,</td>
                                <td>Completed and Published </td>
                            </tr>
                            <tr>
                                <td>5.</td>
                                <td>A study on the profile of signs and symptoms among appendicitis patients admitted in a tertiary health care Centre in Chennai</td>
                                <td>Community Medicine<br/>Surgery</td>
                                <td>Dr. T.M.Mani,<br/> Dr. L.Dhanaraj, <br/> Dr. Christina Mary.P.Paul, </td>
                                <td>Completed and Published </td>
                            </tr>
                            <tr>
                                <td>6.</td>
                                <td>A Retrospective Study on Low Birth Weight and Associated Maternal Factors in a Tertiary Care Hospital at Chennai</td>
                                <td>Community Medicine<br/>Paediatrics</td>
                                <td>Dr.P.Gunasundari <br/>Dr.G.Gurunathan <br/>Dr.Christina Mary P.Paul </td>
                                <td>Completed and Published </td>
                            </tr>
                            <tr>
                                <td>7.</td>
                                <td>Role of redox status and catalase gene polymorphism in premature canities</td>
                                <td>Dermatology and biochemistry</td>
                                <td>Dr Sathyapriya V. ,<br/> Dr Brindha G,<br/> Dr Sudha V</td>
                                <td>Ongoing </td>
                            </tr>
                            <tr>
                                <td>8.</td>
                                <td>A clinico Mycological study of patients with Dermatophytosis in a tertiary health care Hospital in Chennai</td>
                                <td>Dermatology and Microbiology</td>
                                <td>Dr Asiya Begum, <br/>Dr Kalpana, <br/>Dr Kalavathy Victor,<br/> Dr Sudha V, </td>
                                <td>Ongoing </td>
                            </tr>
                            <tr>
                                <td>9.</td>
                                <td>Self Medication Pattern and Practices Among Software Professionals in the Urban Population of Chennai</td>
                                <td>Pharmacology, <br/>physiology</td>
                                <td>Dr Sridevi S.A,<br/> Dr Ganesh. M , <br/>Mrs Ramya K </td>
                                <td>Completed and Published </td>
                            </tr>
                            <tr>
                                <td>10.</td>
                                <td>Study on the prescription pattern of oral hypoglycemic agents in type 2 Diabetes mellitus in the outpatient department of a tertiary care hospital in Chennai</td>
                                <td>Pharmacology, <br/>physiology</td>
                                <td>Dr Sridevi S.A,<br/> Dr Ganesh. M , </td>
                                <td>Completed and Published </td>
                            </tr>
                            <tr>
                                <td>11.</td>
                                <td>ɑ &#8211; Amylase and ɑ &#8211; Glucosidase Activity of Mimosa Pudica. Linn Flowers</td>
                                <td>Pharmacology, Biotechnology </td>
                                <td>Dr.S.Thamizharasan,<br/> Dr., Dr. Rajeswary Hari ,<br/> Uma Maheshwari </td>
                                <td>Completed and Published </td>
                            </tr>
                            <tr>
                                <td>12.</td>
                                <td>Prevalence of nasal and peripheral Eosinophilia in patients with chronic Rhinosinusitis</td>
                                <td>ENT,Pathology </td>
                                <td>Dr. K.Balachandran, <br/>Dr.Gayathri H, <br/>Dr.Mahendranath </td>
                                <td>Ongoing </td>
                            </tr>
                            <tr>
                                <td>13.</td>
                                <td>Factors involved in decision making of type of surgery done in CSOM-Quiescent year</td>
                                <td>ENT, Community medicine</td>
                                <td>Dr.Gayathri H,<br/> Dr. K.Balachandran,<br/>Dr.Rathinasamy,<br/>Dr.Christina P.Paul </td>
                                <td>Completed (Yet to be published) </td>
                            </tr>
                            <tr>
                                <td>14.</td>
                                <td>Effect of complications and co &#8211; morbid physical conditions on the mental health of patients with diabetes mellitus</td>
                                <td> Psychiatry,<br/> General Medicine </td>
                                <td>Dr.Mubeen Taj,<br/>Dr.Lakshmi Narayanan,<br/>Dr.Ayesha Sanjitha</td>
                                <td>Ongoing </td>
                            </tr>
                            <tr>
                                <td>15.</td>
                                <td>Sero prevalence of helicobacter pylori in a tertiary care centre </td>
                                <td>Microbiology , Surgery</td>
                                <td>Dr Ananthi . B,<br/> Dr M. Ramkumar</td>
                                <td>Completed </td>
                            </tr>
                            <tr>
                                <td>16.</td>
                                <td>Innovative techniques of toe block</td>
                                <td>Anaesthesiology, Surgery</td>
                                <td>Dr S. Rama,<br/> Dr A.P.Selvam</td>
                                <td>Completed </td>
                            </tr>
                            <tr>
                                <td>17.</td>
                                <td>Anaesthesia for diabetic foot surgeries -An analysis</td>
                                <td>Anaesthesiology, Surgery</td>
                                <td>Dr S. Rama,<br/> Dr A.P.Selvam</td>
                                <td>Completed </td>
                            </tr>
                        </tbody>
                    </table>





















                </div>





                <div style="float:right; height:100%;  position:relative; width:25%;">










                </div>
            </div>
        </div>
    </section>




</div>

{% endblock content %}