{% extends "base.html" %} {% block content %}
<style>
    .sidebar {
        display: none;
    }
    
    #logo {
        display: block;
    }
    
    #preloader {
        display: none;
    }
</style>

<section class="about_main">
    <div class="about_title">
        <div class="container">
            <h3>About </h3>
            <span>Dr. M.G.R. Educational and Research Institute, University has established the Faculty of Medicine. Besides imparting necessary medical and technological skills, the university also encourages students to be more active in community medicine and public health to improve health conditions of the community.</span>
        </div>
    </div>
    <div class="about_rank">
        <div class="container">
            <div class="about_rank_left">
                <span><strong>26</strong><sup>th</sup>
          <label>RANK</label>
        </span>
                <p>Among Outstanding Medical Colleges<br /> in India.
                    <span>Competition Success Reviewed</span>
                </p>
            </div>
        </div>
        <div class="about_bg_img">
            <img alt="" data-srcset="" sizes="(max-width: 1260px) 100vw, 1260px" data-src="" class="attachment-post-thumbnail size-post-thumbnail wp-post-image lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript><img src="/static/assets/about.jpg"
                 class="attachment-post-thumbnail size-post-thumbnail wp-post-image" 
                 alt="" srcset="" sizes="(max-width: 1260px) 100vw, 1260px" /></noscript></div>
    </div>

    <div class="about_main_sub">
        <div class="container">
            <h3 class="inner_sub_hd">History</h3>
            <p> A.C.S. Medical College and Hospital was brought under the ambit of Dr. M.G.R.Educational and Research Institute University in the year 2008. Our University is offering high quality centre of learning in the fields like Engineering & Technology,
                Dental Surgery, Medicine, Architecture, Arts & Commerce, Physiotherapy, Nursing, Humanities and Sciences, Education, Hotel Management & Catering Technology and Management Studies.

            </p>
            <p style="margin-top: 10px;">Ours is the only Private University having its main and all other campuses within the city limits. Ours is an ISO, TUV 9001 : 2008 Certified Institution.The campuses are on par with global standards – world class facilities with an eco-friendly
                infrastructure with perfect ambience</p>
            <p style="margin-top: 10px;">The courses of the University are approved by respective statutory bodies like AICTE, DCI, MCI, COA, INC, NCTE, etc., and accredited by NAAC. Our BDS degree is also recognized by the Medical Council of Sri Lanka. All our course are approved
                by the respective statutory bodies.
            </p>
        </div>
    </div>


</section>


<section class="about_clg">
    <div class="container">
        <div class="about_clg_lft">
            <img style="    max-width: 62% !important; " data-src="/static/logo/logo.png" class="img-responsive lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript><img src="/static/logo/logo.png" class="img-responsive" /></noscript>
        </div>
        <div class="about_clg_rgt">
            <h3>Vision, Mission and Quality Policy</h3>
            <p>
                <p>To transform our institution into quality technical education centre imparting updated technical knowledge with character building.</p>
                <p>To develop into an institute of medical excellence, imparting quality medical education to students and quality medical care to patients. To create doctors with knowledge, values and principles and to help them attain their highest functional
                    ability. To spread health and to make the nation a healthier and happier place to live in.</p>
                <p>The College is well-planned and well-designed, built with more than 4 lakh square feet of constructed area. The aesthetically designed campus has ultramodern facilities with separate academic wing for each department, administration block,
                    laboratories and workshops, state-of-the-art computer labs, spacious classrooms, well-stocked library, conference hall, separate seminar hall for each department, canteen, dining hall with hygienic kitchen, playgrounds, and separate
                    hostel for boys.</p>

            </p>
        </div>
    </div>
</section>





<style>
    #readmore {
        color: #002e4b;
    }
    
    #readmore:hover {
        color: #bd943c;
    }
</style>
<section class="board_trustes" id="board-trustes">
    <div class="container">
        <h2 class="title_line">Founder, President and Secretary Desk</h2>
        <div class="board_navslide"></div>
        <div class="board_trustes_inner">
            <div class="board_trustes_slder owl-carousel">
                <div class="board_trustes_box">
                    <div class="trustes_img">
                        <img alt="pic" data-src="/static/desk/founder.jpg" class="img-responsive lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript><img src="/static/desk/founder.jpg" alt="" class="img-responsive"></noscript>
                    </div>
                    <span>Dr. A.C.Shanmugam</span>
                    <p>B.A., L.L.B, FIMSA, FRCPS (Glasgow, UK) </p>
                    <p><a id="readmore" ref="#">Read More >></a> </p>

                </div>
                <div class="board_trustes_box">
                    <div class="trustes_img">
                        <img alt="pic" data-src="/static/desk/president.jpg" class="img-responsive lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript><img src="/static/desk/president.jpg" alt="" class="img-responsive"></noscript>
                    </div>
                    <span>A.C.S. Arun Kumar
                       </span>
                    <p> B.Tech (Hons)., LMISTE.,MIET.,(UK)., LMCSI.
                    </p>
                    <p><a id="readmore" ref="#">Read More >></a> </p>

                </div>
                <div class="board_trustes_box">
                    <div class="trustes_img">
                        <img alt="pic" data-src="/static/desk/founder.jpg" class="img-responsive lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript><img src="/static/desk/founder.jpg" alt="" class="img-responsive"></noscript>
                    </div>
                    <span>Dr. A.C.Shanmugam </span>
                    <p>B.A., L.L.B, FIMSA, FRCPS (Glasgow, UK)
                    </p>
                    <p><a id="readmore" ref="#">Read More >></a> </p>

                </div>


            </div>

        </div>
    </div>
</section>
<section class="clg_range">
    <div id="contain" class="container con">
        <div class="row">
            <div class="col-sm-4 clg_range_box">
                <div>
                    <h2 class="counter" data-count="200">200</h2>
                    <span class="plus-symbol">+</span>
                    <span>WELL TRAINED DOCTORS</span>
                </div>
            </div>

            <div class="col-sm-4 clg_range_box">
                <div>
                    <h2><label class="counter">44th</label></h2>
                    <span>RANK IN INDIA</span>
                </div>
            </div>

            <div class="col-sm-4 clg_range_box">
                <div>
                    <h2><label class="counter">3</label>L</h2>
                    <span>Square feet of constructed area</span>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
<!-- script -->
{% block scripts %}
<script type="text/javascript">
    jQuery(document).ready(function() {
        fadeinup('.about_title', '.about_main');
        fadeinleft('.about_main .about_rank .about_rank_left', '.about_rank .container');
        fadeinright('.about_main .about_rank .about_bg_img', '.about_rank .container');

        var about_data = TweenMax.staggerFromTo('.about_main .about_rank .about_rank_left > *', 1, {
            y: 20
        }, {
            y: 0,
            opacity: 1,
            delay: 0.5
        }, 0.2);
        new ScrollMagic.Scene({
            triggerElement: '.about_rank .container',
            reverse: false
        }).setTween(about_data).addTo(controller);

        fadeinleft('.about_clg .about_clg_lft', 'section.about_clg');
        fadeinright('.about_clg .about_clg_rgt', 'section.about_clg');

        var about_slider = TweenMax.staggerFromTo('.board_trustes_slder .board_trustes_box', 1, {
            x: 20
        }, {
            x: 0,
            opacity: 1
        }, 0.2);
        new ScrollMagic.Scene({
            triggerElement: '.clg_range',
            reverse: false
        }).setTween(about_slider).addTo(controller);


        fadeinright('.board_trustes_inner .vision_mision .row > div', 'section.board_trustes');
    });
</script>
{% endblock scripts %}