{% extends "base.html" %} {% block content %}
<style>
    .sidebar {
        display: none;
    }
    
    #logo {
        display: block;
    }
    
    #preloader {
        display: none;
    }
</style>
<section class="contact_banner">
    <div class="banner-wrap" style="background-image: url('/static/assets/contact.jpg')"></div>
    <div class="map_pop">
        <div id="gmap_canvas"></div>
    </div>
</section>

<div class="map_pin_box">
    <div class="container">
        <div class="map_pin">
            <svg>
          <use xlink:href="#map_pin"></use>
        </svg>
            <span class="close-search">
          <svg>
            <use xlink:href="#map_close"></use>
          </svg>
        </span>
        </div>
    </div>
</div>
<section class="contact_sec clearfix">
    <div class="container">
        <h3 class="inner_sub_hd">Get in touch with us</h3>
        <div class="row">
            <div style="margin-left:20px" class="col-sm-6">
                <div class="contact_form contact_form-wrap">
                    <div role="form" class="wpcf7" id="wpcf7-f1580-o1" lang="en-US" dir="ltr">
                        <div class="screen-reader-response"></div>
                        <form class="formp" method="post">
                            {% csrf_token %} {{ forms.as_p }}
                            <input type="submit" value="Submit" />
                        </form>

                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div>
                    <span>Address</span>
                    <p>ACS Medical College and Hospital</p>
                    <p>Poonamalle High Road,</p>
                    <p>Velappanchavadi,</p>
                    <p>Chennai &#8211; 600 077.</p>
                </div>

                <div>
                    <span>Phone</span>
                    <p><a href="tel:044 6457 0316"> 044 6457 0316</a> </p>
                </div>

                <div>
                    <span>Email</span>
                    <p><a href="mailto:acsgh08@gmail.com">acsgh08@gmail.com</a> </p>
                </div>

                <div>
                    <span>Fax</span>
                    <p>044 6457 0316</p>
                </div>

            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    jQuery(document).ready(function() {
        fadeinleft('.contact_sec .container .row > div:first-of-type', '.contact_sec');
        fadeinright('.contact_sec .container .row > div:last-of-type', '.contact_sec');

        function init_map() {
            var myOptions = {
                zoom: 14,
                center: new google.maps.LatLng(13.058447, 80.129276),

                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);
            marker = new google.maps.Marker({
                map: map,
                position: new google.maps.LatLng(13.058447, 80.129276)

            });
            infowindow = new google.maps.InfoWindow({});

        }
        google.maps.event.addDomListener(window, 'load', init_map);
    });
</script>
{% endblock %}