{% extends "base.html" %} {% block content %}
<style>
    .sidebar {
        display: none;
    }
    
    #logo {
        display: block;
    }
    
    #preloader {
        display: none;
    }
</style>
<div class="resource_inner">
    <style>
        .resource_inner .hostl_facility span {
            all: unset !important;
            font-size: 14px !important;
        }
    </style>
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/desk/founder.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div style="padding-left: 10px;">
                        <h1>Founder</h1>
                        <h3 class="inner_sub_hd">A.C. SHANMUGAM
                            <span> B.A., B.L.,
                                Ex. M.P., Ex. M.L.A.</span> </h3>
                        <p>It gives me immense pleasure to welcome you to ACS Medical College and Hospital, a unit of Dr. MGR Educational and Research Institute, University, Chennai. </p>
                        <p>ACS Group has many institutions under its bastion, but A.C.S Medical College and Hospital has always been a dream institution for me. This academic year marks the beginning of 30th Year of valuable Service for ACS Group of Institutions
                            in Higher Education. This also marks our noteworthy contributions to Higher Education in India and Tamil Nadu in particular.</p>
                        <p>About 20,000 of Indian and International Students are studying at present under various departments of our Esteemed University. I am happy to welcome you to be a part of this growing family and you will be privileged to join such
                            a large and diversified group of institution. </p>
                        <p>Though we have Faculties of Engineering, Architecture, Dental Surgery, Computer Applications, Education, Business Administration, Hotel Management, Science, Commerce, Arts and Paramedical Courses like Physiotherapy and Nursing,
                            imparting Medical Education always remains closer to our heart. We consider bringing out quality Medical Professionals from our institution as a real Social and Public Service because, despite technological development Medical
                            profession still demands a human touch. We are confident that our current students would emerge as efficient doctors and play a part in protecting the health and enhancing the quality of life of millions of people in the days
                            to come.</p>
                        <p>You are most welcome to be a part of ACS family and together let us chart a progressive path in shaping the healthcare scenario of our country on par with the best in the world.</p>
                        <p>Leveraging the capabilities and competitions extended disciplines and organizations boundaries, a large percentage of our student have since turned out to be successful entrepreneurs and captains of industries across our nation,
                            benefiting to the words of Thiruvalluvar thirukkural</p>
                    </div>
                </div>

            </div>
        </div>
    </section>




</div>

{% endblock content %}