{% extends "base.html" %} {% block content %}
<style>
    .sidebar {
        display: none;
    }
    
    #logo {
        display: block;
    }
    
    #preloader {
        display: none;
    }
</style>
<div class="resource_inner">
    <style>
        .resource_inner .hostl_facility span {
            all: unset !important;
            font-size: 14px !important;
        }
    </style>
    <section class="hostl_facility">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 rigt_aln">
                    <div class="hostel_rgt_img">
                        <img src="/static/desk/president.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6 lft_aln">
                    <div style="padding-left: 10px;">
                        <h1>President</h1>
                        <h3 class="inner_sub_hd">Er. A.C.S. ARUNKUMAR <span> B.Tech (Hons)., LMISTR., MIET., (UK)., LMCSI.,</span> </h3>
                        <p>A warm welcome to ACS Medical College, a unit of Dr MGR Educational and Research Institute University, Chennai. Established in 2003, our university is committed to empower students with required knowledge and skills to chart their
                            own future in the demanding healthcare sector. Medical Education in India has a pivotal role in the society. </p>
                        <p>The university has a sprawling campus spread over 30 acres. The University has been offering various courses in 10 different disciplines such as Engineering & Technology, Architecture, Medical science, Dental Surgery, Arts & Commerce,
                            Humanities & Science, Education, Hotel Management & Catering Technology, and Paramedical Courses like Physiotherapy and Nursing.</p>
                        <p>ACS Medical College and Hospital, a dream constituent college of our university, is equipped with State-of-the-art infrastructure. Highly qualified and experienced faculty handle International syllabus that is aligned with modern
                            advancement in medical education. Our students will get hands-on exposure in modern medical facilities so that they can take on professional reins confidently as soon as they become doctors. </p>
                        <p>I am confident that our graduate doctors will make a mark for themselves in the medical field and occupy highly responsible positions in the national and international hospitals. </p>
                        <p>I welcome you to join such a great institution and my heartiest wishes for your success in all your endeavors. </p>
                    </div>
                </div>

            </div>
        </div>
    </section>




</div>

{% endblock content %}