{% extends "hospital/base.html" %} {% block content %}
<style>
    .ol li {
        list-style-type: decimal;
        font-weight: 500;
        margin-left: 50px;
    }
    
    .ul li {
        list-style-type: decimal;
        font-weight: 500;
        margin-left: 50px;
    }
    
    .content-only li {
        padding-left: 0 !important;
    }
    
    .tic_list li {
        padding-left: 30px !important;
    }
</style>
<section class="single-campus-wrap">
    <div class="container content-only">

        <div>
            <h1 class="title_line">Donate Blood</h1>

            <p class="content-onlyintro">ACS Medical College & Hospital Blood Bank in Chennai run by Moogambigai Charitable trust was established in October 2004, bearing license No: KTK 28C/173/2004. Started off with whole Blood service & license and was renewed in 2011.Processing
                of Blood Components commenced in Dec 2011.<br></p>

            <p class="content-onlyintro">All activities related to the transfusion of Blood / Blood components is in accordance to the Drugs and Cosmetics Act 1945 issued by Government of India, NACO guide lines. Blood Bank has an area as per Drug Controller requirement.</p>
            <p class="content-onlyintro">The Blood Bank is responsible for creating awareness amongst the patients as well as the common public by organizing various blood camps in and around the campus on various occasions.</p>
            <h3>Facilities available in our Blood Bank</h3>
            <h3>Blood Bank provides following Blood & Blood Components

            </h3>

            <ol class="ol">
                <li>Whole Blood</li>
                <li> Packed red blood cells</li>
                <li>Platelet Concentration</li>
                <li>Fresh frozen plasma</li>
                <li>Cryoprecipitate</li>
            </ol>


            <h3>Tests done in our Blood Bank</h3>
            <ul class="tic_list">
                <li> All units are checked for blood groping and Rh typing (As a routine test is done by slide method) By cell grouping and serum grouping by tube method before cross matching.
                </li>
                <li>All Rh negative samples are confirmed by Du test and when Du test is negative labeled as Rh negative and when Du positive labeled as Rh positive.</li>
                <li>All blood units are tested for atypical antibodies using pooled ‘O’ cells.</li>
                <li>Screening test for TTD like HIV I&II, HBsAg and HCV done by ELISA method. Malaria and syphilis are tested by Rapid method and the results are entered in the screening register.</li>
                <li>The units that are tested positive are autoclaved and disposed off as per biomedical waste management protocol.</li>
                <li>All Biomedical wastes are discarded as per biomedical waste management.</li>

            </ul>

            <h3>The important equipments & instruments that are available in our Blood Bank are:
            </h3>

            <ol class="ul">
                <li>Blood Collection Monitor</li>
                <li> Separate Blood storage cabinets for tested & untested blood</li>
                <li>Platelet incubator & agitator</li>
                <li>Calibrated refrigerated centrifuge</li>
                <li>Deep freezer – 40 C & – 80 C</li>
                <li>Plasma expressor</li>
                <li>Thawing Bath</li>
                <li>Elisa reader & Elisa Washer</li>
            </ol>

        </div>


    </div>


</section>




{% endblock content %}