{% extends "hospital/base.html" %} {% block content %}
<style>
    .ol li {
        list-style-type: decimal;
        font-weight: 500;
        margin-left: 50px;
    }
    
    .ul li {
        list-style-type: decimal;
        font-weight: 500;
        margin-left: 50px;
    }
    
    .content-only li {
        padding-left: 0 !important;
    }
    
    .tic_list li {
        padding-left: 30px !important;
    }
</style>
<section class="single-campus-wrap">
    <div class="container content-only">

        <div>
            <h1 class="title_line">Pledge Your Eyes</h1>

            <p class="content-onlyintro">Eye bank services in the department are available round-the-clock with complete state of the art equipment, man power, storage media and screening method to deliver the international quality standard eye tissue. Eye tissue is distributed without
                discrimination, based on waiting list & according to priority of needs. The objectives of our eye bank are to increase the collection of eyes with uniform standards and to educate the public about eye donation and prevention of corneal
                blindness which is about 6.8 million in India alone. The need for the eye tissues are met by voluntary donations from both the individual and from other eye banks across the country.<br></p>


            <p class="content-onlyintro">Please contact for voluntarily eye donation to the following numbers.</p>

            <h3>College No.: 080 – 28437888</h3>


        </div>


    </div>


</section>




{% endblock content %}