{% extends "hospital/base.html" %} {% block content %}
<style>
    .ol li {
        list-style-type: decimal;
        font-weight: 500;
        margin-left: 50px;
    }
    
    .ul li {
        list-style-type: decimal;
        font-weight: 500;
        margin-left: 50px;
    }
    
    .content-only li {
        padding-left: 0 !important;
    }
    
    .tic_list li {
        padding-left: 30px !important;
    }
</style>
<section class="single-campus-wrap">
    <div class="container content-only">

        <div>
            <h1 class="title_line">Lend a Hand</h1>

            <p class="content-onlyintro"><br></p>



        </div>


    </div>


</section>




{% endblock content %}