{% extends "hospital/base.html" %} {% block content %}
<style>
    .ol li {
        list-style-type: decimal;
        font-weight: 500;
        margin-left: 50px;
    }
    
    .ul li {
        list-style-type: decimal;
        font-weight: 500;
        margin-left: 50px;
    }
    
    .content-only li {
        padding-left: 0 !important;
    }
    
    .tic_list li {
        padding-left: 30px !important;
    }
</style>
<section class="single-campus-wrap">
    <div class="container content-only">

        <div>
            <h1 class="title_line">Donate Body – Help Medical Education</h1>

            <p class="content-onlyintro">ACS Medical College & Hospital has got a unique project of volunteer body donation scheme which was started 3 years ago under the Guidance of Department of Anatomy Under this scheme, people are motivated to donate the body after their death
                voluntarily which will help the medical students in clinical studies.<br></p>

            <p class="content-onlyintro">This will help the students understanding structures in the human body and their relations which also helps to know the various pathological conditions and diseases which they encounter during their clinical career.</p>
            <p class="content-onlyintro">If required, a vehicle can be sent to bring the dead body to the hospital. The body must be brought to the hospital within six hours of death. If 12 hours have passed after the death of the person or if the body has a foul smell, it will not
                be accepted. Bodies which will require a post mortem and bodies which do not have a death certificate by a qualified doctor (MBBS) will not be accepted.</p>
            <p class="content-onlyintro">Several awareness camps have been conducted by the department of anatomy and the people especially in rural areas have appreciated about the importance of voluntary body donation after death.</p>
            <p class="content-onlyintro"> In addition to this under the scheme of organ donation, there is also an Eye donation project run by the department of Ophthalmology, ACS.</p>
            <p class="content-onlyintro"> Please contact for voluntarily organ donation to the following numbers.</p>

            <h3>College No. —– > 080 – 28437444</h3>


        </div>


    </div>


</section>




{% endblock content %}